In [4]:
# H20 is used for native handling of categorical data.
import h2o 
from h2o.estimators import H2ORandomForestEstimator as rfe
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
  Starting server from C:\Users\Alexander Saunders\anaconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\ALEXAN~1\AppData\Local\Temp\tmpt7yje9_7
  JVM stdout: C:\Users\ALEXAN~1\AppData\Local\Temp\tmpt7yje9_7\h2o_Alexander_Saunders_started_from_python.out
  JVM stderr: C:\Users\ALEXAN~1\AppData\Local\Temp\tmpt7yje9_7\h2o_Alexander_Saunders_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    1 month and 2 days
H2O_cluster_name:           H2O_from_python_Alexander_Saunders_jd59sv
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.531 Gb
H2O_cluster_total_cores:    0
H2O_cluster_allowed_cores:  0
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.8 final
--------------------------  ---------------------------------------------------------

In [3]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [5]:
data_path = "usda_plantsdb.csv"

# Read the mouse data and the study results
data = pd.read_csv(data_path,low_memory=False)
# Combine the data into a single dataset
df = pd.DataFrame(data)
column_list = list(df)
df_null_list = df.isnull().sum().sort_values().head(100)

In [104]:
df_core = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'Genus'])

In [129]:
df_core['Family_Common_Name'].unique()

array(['Mallow family', 'unknown', "Four o'clock family", 'Pine family',
       'Honeysuckle family', 'Sedge family', 'Pea family', 'Aster family',
       'Rose family', 'Spurge family', 'Calamus family', 'Grass family',
       'Buttercup family', 'Mint family', 'Cactus family',
       'Acanthus family', 'Potato family', 'Chinese Gooseberry family',
       'Amaranth family', 'Maidenhair Fern family', 'Maple family',
       'Barberry family', 'Pink family', 'Carrot family', 'Rue family',
       'Calycera family', 'Iris family', 'Melastome family',
       'Palm family', 'Curly-grass family', 'Kihi Fern family',
       'Kapok-tree family', 'Buckthorn family', 'Dogbane family',
       'Fumitory family', 'Moschatel family', 'Stonecrop family',
       'Horse-chestnut family', 'Sapodilla family', 'Bromeliad family',
       'Verbena family', 'Broom-rape family', 'Podocarpus family',
       'Ginger family', 'Figwort family', 'Lily family',
       'Century-plant family', 'Heath family', 'Araucaria family',
       'Pokeweed family', 'Arum family', 'Mahogany family',
       'Quassia family', 'Madder family', 'Lardizabala family',
       'She-oak family', 'Mustard family', 'Tree Fern family',
       'Aloe family', 'Phlox family', 'Birch family', 'Soapberry family',
       'Sundew family', 'Water-plantain family', 'Borage family',
       'Goosefoot family', 'Indian Pipe family', 'Grape family',
       'Loosestrife family', 'Orchid family', 'Lipstick-tree family',
       'Trumpet-creeper family', 'Sumac family', 'Flowering Fern family',
       'Primrose family', 'Basella family', 'Laurel family',
       "Lizard's-tail family", 'Shoestring Fern family',
       'Custard-apple family', 'Spiderwort family', 'Vessel Fern family',
       'Buckwheat family', 'Morning-glory family', 'Indian Almond family',
       'Catkin-mistletoe family', 'Crossosoma family', 'Burmannia family',
       'Fig-marigold family', 'Cape-pondweed family', 'Cucumber family',
       'Christmas Mistletoe family', 'Wood Fern family', 'Poppy family',
       'Leadwort family', 'Mulberry family', 'Ginseng family',
       'Birthwort family', 'Milkweed family', 'Elaeocarpus family',
       'Myrsine family', 'Spleenwort family', 'Saxifrage family',
       'Chloranthus family', 'Barbados Cherry family',
       'Bellflower family', 'Caper family', 'Cypress family',
       'Dogwood family', 'Wood-Sorrel family', 'Cacao family',
       'Azolla family', 'Creosote-bush family', 'Brazil-nut family',
       'Protea family', 'Myrtle family', 'Balanophora family',
       'Saltwort family', 'Flacourtia family', 'Gentian family',
       'Begonia family', 'Brachythecium moss family', 'Waterwort family',
       'Chain Fern family', 'Tape-grass family', "Adder's-tongue family",
       'Nettle family', 'Myoporum family', 'Frankincense family',
       'Hydrangea family', 'Water-shield family', 'Brunellia family',
       'Red Mangrove family', 'Butterfly-bush family', 'Boxwood family',
       'Sandalwood family', 'Flowering Rush family',
       'Prayer-Plant family', 'Souari family', 'Evening Primrose family',
       'Mangosteen family', 'Polypody family', 'Walnut family',
       'Purslane family', 'Strawberry-shrub family', 'Beech family',
       'Bittersweet family', 'Water-starwort family', 'Canna family',
       'Tea family', 'Moonseed family', 'Papaya family', 'Canella family',
       'Hemp family', 'Panama Hat family', 'Cecropia family',
       'Elm family', 'Hornwort family', 'Crowberry family',
       'Water Fern family', 'Teasel family', 'Plum Yew family',
       'Katsura-tree family', 'Valerian family', 'Sesame family',
       'Loasa family', 'Olive family', 'Cocoa-plum family',
       'Shinleaf family', 'Gesneriad family', 'Rock-rose family',
       'Clethra family', 'Linden family', 'Cyrilla family',
       'Costus family', 'Karaka family', 'Bayberry family',
       'Cannarus family', 'Witch-hazel family', 'Stemona family',
       'Dodder family', 'Cycad family', 'Manatee-grass family',
       'Mezereum family', 'Datisca family', 'Pitcher-plant family',
       'Hanging Fern family', 'Bracken Fern family',
       'Showy Mistletoe family', 'Logania family', 'Yam family',
       'Diapensia family', 'Ebony family', 'Forking Fern family',
       'Dillenia family', 'Waterleaf family', 'Meranti family',
       'Wintera family', 'Water-Hyacinth family', 'Oleaster family',
       'Sago-palm family', 'Banana family', 'Mormon-tea family',
       'Horsetail family', 'Pipewort family', 'Coca family',
       'Geranium family', 'Currant family', 'Cunonia family',
       'Water-lily family', 'Flagellaria family', 'Meadow-Foam family',
       'Ocotillo family', 'Frankenia family', 'Screw-pine family',
       'Silk Tassel family', 'Ginkgo family', 'Carpet-weed family',
       'Gnetum family', 'Water Milfoil family', 'Greyia family',
       'Gunnera family', 'Storax family', 'Hanguana family',
       'Flax family', 'Heliconia family', 'Olax family',
       'Hernandia family', "Mare's-tail family", 'Hippocratea family',
       'Nutmeg family', 'Club-moss family', 'Filmy Fern family',
       'Violet family', 'Water-poppy family', 'Pittosporum family',
       'Icacina family', 'Holly family', 'Star-anise family',
       'Touch-me-not family', 'Quillwort family', 'Theophrasta family',
       'Joinvillea family', 'Rush family', 'Krameria family',
       'Bloodwort family', 'Duckweed family', 'Corkwood family',
       'Epacris family', 'Pepper family', 'Magnolia family',
       'Arrow-grass family', 'Plantain family',
       'Diamond-leaf Fern family', 'Climbing Fern family',
       'Water-clover family', 'Marsh Fern family', 'Mayaca family',
       'Shingle Plant family', 'Sabia family', 'Melianthus family',
       'Buckbean family', 'Milkwort family', 'Horse-radish tree family',
       'Water-nymph family', 'Eel-grass family', 'Lotus-lily family',
       'East Indian Pitcher-plant family', 'Ochna family',
       'Mignonette family', 'Royal Fern family', 'Passion-flower family',
       'Peony family', 'Monimia family', 'Lennoa family',
       'Achatocarpus family', 'Philydraceae family', 'Bladderwort family',
       'Turnera family', 'Rafflesia family', 'Plane-tree family',
       'Pondweed family', 'Willow family', 'River-weed family',
       'Posidonia family', 'Whisk-fern family', 'Pomegranate family',
       'Bird of Paradise Flower family', 'Ditch-grass family',
       'Floating Fern family', 'Goodenia family', 'Schisandra family',
       'Scheuchzeria family', 'Triurus family', 'Spike-moss family',
       'Jojoba family', 'Catbrier family', 'Sonneratia family',
       'Bur-reed family', 'Spenoclea family', 'Stackhousia family',
       'Bladdernut family', 'Suriana family', 'Sweetleaf family',
       'Tamarix family', 'Yew family', 'Tacca family',
       'Water Chestnut family', 'Nasturtium family', 'Cat-tail family',
       'Yellow-eyed Grass family', 'Horned pondweed family'], dtype=object)

In [105]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [106]:
df_core.fillna('unknown', inplace=True)

In [107]:
def in_state(string, state):
        if string.find(state) == -1:
            return 0
        else:
            return 1

In [108]:
for state in states:
    df_core[state] = df_core['State_and_Province'].apply(lambda x: in_state(x, state))

In [109]:
df_core.drop(columns=['State_and_Province'], inplace=True)

In [110]:
df_core['Invasive_In_NC'] = df_core['State_Noxious_Status'].apply(lambda x: in_state(x, 'NC'))

In [111]:
df_core['Invasive_In_NC'].sum()

110

In [112]:
df_core['Growth_Habit'] = df_core['Growth_Habit'].str.split(',',expand=True)[0]

In [113]:
df_core['Growth_Habit'].head()

0       Subshrub
1        unknown
2        unknown
3    Nonvascular
4        unknown
Name: Growth_Habit, dtype: object

In [114]:
df_core['Common_Name'] = df_core['Common_Name'].apply(lambda x: 0 if x == 'unknown' else 1)

In [115]:
df_core['Common_Name'].value_counts()

0    48971
1    43200
Name: Common_Name, dtype: int64

In [116]:
df_core['Invasive'].value_counts()

unknown                               90735
STATE                                   248
SWSS                                    131
HEAR                                    109
STATE, US                                85
                                      ...
FLEPPC, STATE, SWSS, US                   1
Cal-IPC, N'EAST, NE&GP, SWSS, WSWS        1
KY, N'EAST, STATE, SWSS, WI               1
NE&GP, WI                                 1
N'EAST, SEEPPC, STATE, SWSS, WI           1
Name: Invasive, Length: 167, dtype: int64

In [117]:
df_core['Duration'].value_counts()

unknown                        59943
Perennial                      25296
Annual                          4923
Annual, Perennial                813
Biennial, Perennial              426
Annual, Biennial                 339
Annual, Biennial, Perennial      225
Biennial                         204
Annual, Perennial, Biennial        1
Perennial, Annual                  1
Name: Duration, dtype: int64

In [118]:
duration_types = ['Perennial', 'Annual', 'Biennial']
for dur in duration_types:
    df_core[dur] = df_core['Duration'].apply(lambda x: in_state(x, dur))

In [119]:
df_core.columns

Index(['Accepted_Symbol_x', 'Hybrid_Genus_Indicator',
       'Hybrid_Species_Indicator', 'Species', 'Subspecies_Prefix', 'Variety',
       'Genera_Binomial_Author', 'Common_Name', 'Category', 'Family_Symbol',
       'Family_Common_Name', 'xOrder', 'SubClass', 'Class', 'Division',
       'SuperDivision', 'SubKingdom', 'Kingdom', 'Duration', 'Growth_Habit',
       'Native_Status', 'Federal_Noxious_Status', 'State_Noxious_Status',
       'Invasive', 'Federal_T_E_Status', 'State_T_E_Status', 'Genus', 'AL',
       'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
       'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
       'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
       'WI', 'WY', 'Invasive_In_NC', 'Perennial', 'Annual', 'Biennial'],
      dtype='object')

In [120]:
hf = h2o.H2OFrame(df_core)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [121]:
hf['Invasive'] = hf['Invasive'].asfactor()
predictors=['Accepted_Symbol_x', 'Hybrid_Genus_Indicator',
       'Hybrid_Species_Indicator', 'Variety',
       'Genera_Binomial_Author', 'Common_Name', 'Category', 'Family_Symbol',
       'Family_Common_Name', 'xOrder', 'SubClass', 'Class', 'Division',
       'SuperDivision', 'SubKingdom', 'Kingdom', 'Growth_Habit', 'Genus', 'AL',
       'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'ID',
       'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
       'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
       'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
       'WI', 'WY','Perennial', 'Annual', 'Biennial']
response='Invasive_In_NC'
train, valid = hf.split_frame(ratios=[0.7], seed = 42)

In [122]:
plants_drf = rfe(ntrees=100, max_depth =5, min_rows=10, balance_classes=True, binomial_double_trees=True)

In [123]:
plants_drf.train(x=predictors, 
                 y=response,
               training_frame=train,
               validation_frame=valid)

drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1636506170118_7


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,100.0,100.0,49013.0,5.0,5.0,5.0,9.0,22.0,13.92

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 0.0012456045218412755
RMSE: 0.035293122868928384
MAE: 0.002491984412212874
RMSLE: 0.02449142724371071
Mean Residual Deviance: 0.0012456045218412755

ModelMetricsRegression: drf
** Reported on validation data. **

MSE: 0.0010034974100052937
RMSE: 0.031678027242953335
MAE: 0.0022464017814842964
RMSLE: 0.022028377889307064
Mean Residual Deviance: 0.0010034974100052937

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2021-11-09 22:17:43,0.036 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2021-11-09 22:17:43,0.108 sec,1.0,0.035457,0.002464,0.001257,0.029809,0.002023,0.000889
2,,2021-11-09 22:17:43,0.161 sec,2.0,0.035974,0.002522,0.001294,0.030152,0.002111,0.000909
3,,2021-11-09 22:17:43,0.203 sec,3.0,0.036104,0.002597,0.001304,0.030652,0.002218,0.000940
4,,2021-11-09 22:17:44,0.246 sec,4.0,0.036684,0.002597,0.001346,0.030860,0.002174,0.000952
5,,2021-11-09 22:17:44,0.290 sec,5.0,0.035919,0.002552,0.001290,0.030985,0.002198,0.000960
6,,2021-11-09 22:17:44,0.338 sec,6.0,0.036016,0.002541,0.001297,0.031106,0.002193,0.000968
7,,2021-11-09 22:17:44,0.388 sec,7.0,0.035688,0.002525,0.001274,0.031188,0.002209,0.000973
8,,2021-11-09 22:17:44,0.436 sec,8.0,0.035675,0.002515,0.001273,0.031317,0.002215,0.000981
9,,2021-11-09 22:17:44,0.487 sec,9.0,0.035540,0.002511,0.001263,0.031399,0.002223,0.000986
10,,2021-11-09 22:17:44,0.540 sec,10.0,0.035472,0.002507,0.001258,0.031454,0.002226,0.000989
11,,2021-11-09 22:17:44,0.593 sec,11.0,0.035384,0.002475,0.001252,0.031395,0.002198,0.000986
12,,2021-11-09 22:17:44,0.659 sec,12.0,0.035397,0.002478,0.001253,0.031453,0.002206,0.000989
13,,2021-11-09 22:17:44,0.711 sec,13.0,0.035367,0.002482,0.001251,0.031461,0.002209,0.000990
14,,2021-11-09 22:17:44,0.769 sec,14.0,0.035329,0.002484,0.001248,0.031501,0.002218,0.000992
15,,2021-11-09 22:17:44,0.824 sec,15.0,0.035306,0.002486,0.001247,0.031539,0.002226,0.000995
16,,2021-11-09 22:17:44,0.884 sec,16.0,0.035296,0.002474,0.001246,0.031585,0.002225,0.000998
17,,2021-11-09 22:17:44,0.943 sec,17.0,0.035300,0.002486,0.001246,0.031614,0.002237,0.000999
18,,2021-11-09 22:17:44,1.003 sec,18.0,0.035285,0.002487,0.001245,0.031614,0.002235,0.000999
19,,2021-11-09 22:17:44,1.068 sec,19.0,0.035274,0.002484,0.001244,0.031639,0.002233,0.001001

See the whole table with table.as_data_frame()

Variable Importances:

                  variable  relative_importance  scaled_importance  percentage
0            Family_Symbol            84.594818           1.000000    0.326842
1       Family_Common_Name            58.331989           0.689546    0.225373
2        Accepted_Symbol_x            29.757607           0.351766    0.114972
3                   xOrder            18.844202           0.222758    0.072807
4                    Genus            15.412136           0.182188    0.059547
5   Genera_Binomial_Author             4.880306           0.057690    0.018856
6             Growth_Habit             4.162879           0.049210    0.016084
7                       HI             3.264380           0.038588    0.012612
8                 SubClass             3.207190           0.037912    0.012391
9                       MT             2.650129           0.031327    0.010239
10                      WY             2.579549           0.030493    0.009966
11                      ND             2.424095           0.028655    0.009366
12                      MO             2.382003           0.028158    0.009203
13                      OR             1.811119           0.021409    0.006997
14                      LA             1.600893           0.018924    0.006185
15                  Annual             1.552534           0.018353    0.005998
16                      FL             1.538490           0.018187    0.005944
17                      VT             1.316681           0.015565    0.005087
18                      CA             1.271961           0.015036    0.004914
19                      WV             1.265020           0.014954    0.004888

See the whole table with table.as_data_frame()

In [124]:
perf = plants_drf.model_performance()

In [125]:
perf

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 0.0012456045218412755
RMSE: 0.035293122868928384
MAE: 0.002491984412212874
RMSLE: 0.02449142724371071
Mean Residual Deviance: 0.0012456045218412755