In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [2]:
conn = sqlite3.connect('../usdaplantsapi/usdadb_new.sqlite3')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('usda',)]

In [3]:
c = conn.cursor()

In [4]:
data = pd.read_sql("SELECT * FROM usda", conn)

In [5]:
data

,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,Hybrid_Subspecies_Indicator,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,1,ABAB,ABAB,,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,,,abutiloides,,,...,,,,,,,,,,Abutilon
1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",,,abrus,,,...,,,,,,,,,,Abrus
2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",,,abutilon,,,...,,,,,,,,,,Abutilon
3,4,ABAB70,ABAB70,,Abietinella abietina (Hedw.) Fleisch.,,,abietina,,,...,,,,,,,,,,Abietinella
4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,,,acutalata,,,...,,,,,,,,,,Abronia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92166,92167,ZYVIR,ZYVIR,,Zygodon viridissimus (Dicks.) Brid. var. rupes...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92167,92168,ZYVIR2,ZYVIR,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92168,92169,ZYVIV,ZYVIV,,Zygodon viridissimus (Dicks.) Brid. var. virid...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92169,92170,ZYVIV2,ZYVIR,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92170,92171,ZYVU,ZYVIR,ZYVU,Zygodon vulgaris (Malta) Nyholm,,,vulgaris,,,...,,,,,,,,,,Zygodon

In [6]:
df = data.copy()

In [7]:
# get list of df columns
# column_list = list(df)
# column_list

In [8]:
len(column_list)

NameError: name 'column_list' is not defined

In [ ]:
# find empty columns
df_null_list = df.isnull().sum().head(100)
print(df_null_list)

In [ ]:
df.isnull().count().sort_values()

In [ ]:
df_state_nox_list = df["State_Noxious_Status"].isnull().sum()
df_state_nox_list

In [ ]:
def in_nc(string):
        if string.find('NC') == -1:
            return False
        else:
            return True

In [ ]:
def in_l48(string):
        if string.find('L48') == -1:
            return False
        else:
            return True

In [ ]:
# for column in column_list:
#     print(df[column])
#     print(df[column].isna().sum())
#     print(df[column].describe())

In [ ]:
# get
print(df.State_Noxious_Status.value_counts())

In [ ]:
# get
print(df.State_and_Province.describe())

In [ ]:
# get
df.State_Noxious_Status.describe()

In [ ]:
df.State_and_Province.describe()

In [ ]:
df.State_T_E_Status.value_counts()

In [ ]:
df['In_NC'] = df_native['State_and_Province'].apply(in_nc)

## SLIM DATASET

In [ ]:
df_enriched = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Genus',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Subvariety_Prefix',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'Active_Growth_Period',
 'After_Harvest_Regrowth_Rate',
 'Bloat',
 'C_N_Ratio',
 'Coppice_Potential',
 'Fall_Conspicuous',
 'Fire_Resistance',
 'Flower_Color',
 'Flower_Conspicuous',
 'Foliage_Color',
 'Foliage_Porosity_Summer',
 'Foliage_Porosity_Winter',
 'Foliage_Texture',
 'Fruit_Color',
 'Fruit_Conspicuous',
 'Growth_Form',
 'Growth_Rate',
 'Height_at_Base_Age_Maximum_feet',
 'Height_Mature_feet',
 'Known_Allelopath',
 'Leaf_Retention',
 'Lifespan',
 'Low_Growing_Grass',
 'Nitrogen_Fixation',
 'Resprout_Ability',
 'Shape_and_Orientation',
 'Toxicity',
 'Adapted_to_Coarse_Textured_Soils',
 'Adapted_to_Medium_Textured_Soils',
 'Adapted_to_Fine_Textured_Soils',
 'Anaerobic_Tolerance',
 'CaCO_3_Tolerance',
 'Cold_Stratification_Required',
 'Drought_Tolerance',
 'Fertility_Requirement',
 'Fire_Tolerance',
 'Frost_Free_Days_Minimum',
 'Hedge_Tolerance',
 'Moisture_Use',
 'pH_Minimum',
 'pH_Maximum',
 'Planting_Density_per_Acre_Minimum',
 'Planting_Density_per_Acre_Maximum',
 'Precipitation_Minimum',
 'Precipitation_Maximum',
 'Root_Depth_Minimum_inches',
 'Salinity_Tolerance',
 'Shade_Tolerance',
 'Temperature_Minimum_F',
 'Bloom_Period',
 'Commercial_Availability',
 'Fruit_Seed_Abundance',
 'Fruit_Seed_Period_Begin',
 'Fruit_Seed_Period_End',
 'Fruit_Seed_Persistence',
 'Propogated_by_Bare_Root',
 'Propogated_by_Bulbs',
 'Propogated_by_Container',
 'Propogated_by_Corms',
 'Propogated_by_Cuttings',
 'Propogated_by_Seed',
 'Propogated_by_Sod',
 'Propogated_by_Sprigs',
 'Propogated_by_Tubers',
 'Seeds_per_Pound',
 'Seed_Spread_Rate',
 'Seedling_Vigor',
 'Small_Grain',
 'Vegetative_Spread_Rate',
 'Berry_Nut_Seed_Product',
 'Christmas_Tree_Product',
 'Fodder_Product',
 'Fuelwood_Product',
 'Lumber_Product',
 'Naval_Store_Product',
 'Nursery_Stock_Product',
 'Palatable_Browse_Animal',
 'Palatable_Graze_Animal',
 'Palatable_Human',
 'Post_Product',
 'Protein_Potential',
 'Pulpwood_Product',
 'Veneer_Product'
])

In [ ]:
df_enriched.head()

In [ ]:
df_enriched['Hybrid_Genus_Indicator'].value_counts()

In [ ]:
df_enriched['Hybrid_Species_Indicator'].value_counts()

In [ ]:
df_enriched['Subspecies_Prefix'].value_counts()

In [ ]:
df_enriched['Common_Name'].value_counts()

In [ ]:
df_enriched['Common_Name'].isna().sum()
df_enriched['Common_Name'].describe()

In [ ]:
df_enriched['State_and_Province'].value_counts()

In [ ]:
df_enriched.isna().sum().sort_values()

In [ ]:
df_enriched['Category'].value_counts()

In [ ]:
df_enriched['Category'].value_counts()

In [ ]:
df_enriched['Category'].value_counts()

In [ ]:
df_core = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Subvariety_Prefix',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'Genus'])

In [ ]:
df_core.head()

## DF_CORE TARGET COLUMN ISOLATION

In [ ]:
df_core['In_NC'] = df_core['State_and_Province'].apply(in_nc)
df_core['Native_L48'] = df_core['Native_Status'].apply(in_l48)
df_core['Native_NC'] = df_core['Native_Status'].apply(in_nc)

In [ ]:
# Drop the label to create the X data
X = df_core.drop('Invasive', axis=1)
X

In [ ]:
# # One-hot encoding the 'workclass' column creates 9 new columns, one for each category
# pd.get_dummies(X['workclass'])

In [ ]:
# One-hot encoding the entire dataframe
X_dummies = pd.get_dummies(X)
print(X_dummies.columns)
X_dummies

In [ ]:
# Converting output labels to 0 and 1
y_label = LabelEncoder().fit_transform(df_core['Invasive'])
y_label

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=99)

In [ ]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

In [ ]:
# Alternatively, scaling the data by using MinMaxScaler()
scaler = MinMaxScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

In [ ]:
# Transforming the test dataset based on the fit from the training dataset
X_test_scaled = scaler.transform(X_test)
X_test_scaled

## DF_NATIVE TARGET COLUMN ISOLATION

In [ ]:
df_native = pd.DataFrame(df, columns = ['id', 'Symbol', 'Scientific_Name_x', 'State_Noxious_Status', 'Federal_Noxious_Status','Invasive','Native_Status', 'State_and_Province'])
df_native

In [ ]:
df_invasive_features = pd.DataFrame(df, columns = ['id',
                                          'Symbol',
                                          'Scientific_Name_x',
                                          'State_Noxious_Status',
                                          'Invasive','Native_Status',
                                          'State_and_Province',
                                          'Resprout_Ability',
                                          'Growth_Habit', 
                                          'Leaf_Retention',
                                          'Lifespan','Moisture_Use',
                                          'pH_Minimum',
                                          'pH_Maximum',
                                          'Planting_Density_per_Acre_Minimum',
                                          'Planting_Density_per_Acre_Maximum',
                                          'Precipitation_Minimum',
                                          'Precipitation_Maximum',
                                          'Root_Depth_Minimum_inches',
                                          'Salinity_Tolerance','Shade_Tolerance','Category'
])
df_invasive_features

In [ ]:
df_native
# view df[State_and] columns 
# what type is it?

In [ ]:
df_state_prov_list = df_native["State_and_Province"].isnull().sum()
df_state_prov_list
# no null values

In [ ]:
df_native.head()

In [ ]:
df_native['In_NC'] = df_native['State_and_Province'].apply(in_nc)
df_native['Native_L48'] = df_native['Native_Status'].apply(in_l48)
df_native['Native_NC'] = df_native['Native_Status'].apply(in_nc)

In [ ]:
df_native.head()

In [ ]:
print(df_native['In_NC'].value_counts())
print(df_native['Native_L48'].value_counts())
print(df_native['Native_NC'].value_counts())

In [ ]:
df_In_NC = df_native[df_native['In_NC']==True]
df_In_NC

In [ ]:
df_L48_NC = df_native[df_native['Native_L48']==True]
df_L48_NC

In [ ]:
df_Native_NC = df_native[df_native['Native_NC']==True]
df_Native_NC

## SUPERVISED ML WORK BEGINS

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

In [ ]:
# Converting output labels to 0 and 1
y_label = LabelEncoder().fit_transform(df['income'])
y_label