In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import collections

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn import tree

In [2]:
# Study data files
data_path = "usda_plantsdb.csv"

# Read the mouse data and the study results
data = pd.read_csv(data_path,low_memory=False)

In [3]:
# Combine the data into a single dataset
df_og = pd.DataFrame(data)
df = df_og.copy()

# Display the data table for preview
df.head()

,Unnamed: 0,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,0,1,ABAB,ABAB,NaN,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,NaN,NaN,abutiloides,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
1,1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",NaN,NaN,abrus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abrus
2,2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",NaN,NaN,abutilon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
3,3,4,ABAB70,ABAB70,NaN,Abietinella abietina (Hedw.) Fleisch.,NaN,NaN,abietina,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abietinella
4,4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,NaN,NaN,acutalata,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abronia

In [4]:
df.shape

(92171, 135)

In [5]:
column_list = list(df)
print(column_list)
# Does T_E_ mean tax-exempt?
# are _y columns duplicated?

['Unnamed: 0', 'id', 'Symbol', 'Accepted_Symbol_x', 'Synonym_Symbol_x', 'Scientific_Name_x', 'Hybrid_Genus_Indicator', 'Hybrid_Species_Indicator', 'Species', 'Subspecies_Prefix', 'Hybrid_Subspecies_Indicator', 'Subspecies', 'Variety_Prefix', 'Hybrid_Variety_Indicator', 'Variety', 'Subvariety_Prefix', 'Subvariety', 'Forma_Prefix', 'Forma', 'Genera_Binomial_Author', 'Trinomial_Author', 'Quadranomial_Author', 'Questionable_Taxon_Indicator', 'Parents', 'Common_Name', 'State_and_Province', 'Category', 'Family', 'Family_Symbol', 'Family_Common_Name', 'xOrder', 'SubClass', 'Class', 'SubDivision', 'Division', 'SuperDivision', 'SubKingdom', 'Kingdom', 'Duration', 'Growth_Habit', 'Native_Status', 'Federal_Noxious_Status', 'State_Noxious_Status', 'State_Noxious_Common_Name', 'Invasive', 'Federal_T_E_Status', 'State_T_E_Status', 'State_T_E_Common_Name', 'Accepted_Symbol_y', 'Synonym_Symbol_y', 'Scientific_Name_y', 'Active_Growth_Period', 'After_Harvest_Regrowth_Rate', 'Bloat', 'C_N_Ratio', 'Coppice_Potential', 'Fall_Conspicuous', 'Fire_Resistance', 'Flower_Color', 'Flower_Conspicuous', 'Foliage_Color', 'Foliage_Porosity_Summer', 'Foliage_Porosity_Winter', 'Foliage_Texture', 'Fruit_Color', 'Fruit_Conspicuous', 'Growth_Form', 'Growth_Rate', 'Height_at_Base_Age_Maximum_feet', 'Height_Mature_feet', 'Known_Allelopath', 'Leaf_Retention', 'Lifespan', 'Low_Growing_Grass', 'Nitrogen_Fixation', 'Resprout_Ability', 'Shape_and_Orientation', 'Toxicity', 'Adapted_to_Coarse_Textured_Soils', 'Adapted_to_Medium_Textured_Soils', 'Adapted_to_Fine_Textured_Soils', 'Anaerobic_Tolerance', 'CaCO_3_Tolerance', 'Cold_Stratification_Required', 'Drought_Tolerance', 'Fertility_Requirement', 'Fire_Tolerance', 'Frost_Free_Days_Minimum', 'Hedge_Tolerance', 'Moisture_Use', 'pH_Minimum', 'pH_Maximum', 'Planting_Density_per_Acre_Minimum', 'Planting_Density_per_Acre_Maximum', 'Precipitation_Minimum', 'Precipitation_Maximum', 'Root_Depth_Minimum_inches', 'Salinity_Tolerance', 'Shade_Tolerance', 'Temperature_Minimum_F', 'Bloom_Period', 'Commercial_Availability', 'Fruit_Seed_Abundance', 'Fruit_Seed_Period_Begin', 'Fruit_Seed_Period_End', 'Fruit_Seed_Persistence', 'Propogated_by_Bare_Root', 'Propogated_by_Bulbs', 'Propogated_by_Container', 'Propogated_by_Corms', 'Propogated_by_Cuttings', 'Propogated_by_Seed', 'Propogated_by_Sod', 'Propogated_by_Sprigs', 'Propogated_by_Tubers', 'Seeds_per_Pound', 'Seed_Spread_Rate', 'Seedling_Vigor', 'Small_Grain', 'Vegetative_Spread_Rate', 'Berry_Nut_Seed_Product', 'Christmas_Tree_Product', 'Fodder_Product', 'Fuelwood_Product', 'Lumber_Product', 'Naval_Store_Product', 'Nursery_Stock_Product', 'Palatable_Browse_Animal', 'Palatable_Graze_Animal', 'Palatable_Human', 'Post_Product', 'Protein_Potential', 'Pulpwood_Product', 'Veneer_Product', 'Genus']

In [6]:
# find empty columns
df_null_list = df.isnull().sum().sort_values(ascending=False)
print(df_null_list)

Questionable_Taxon_Indicator    92171
Hybrid_Subspecies_Indicator     92166
Hybrid_Variety_Indicator        92165
Subvariety_Prefix               92163
Subvariety                      92163
                                ...
id                                  0
Scientific_Name_x                   0
Accepted_Symbol_x                   0
Symbol                              0
Genus                               0
Length: 135, dtype: int64

In [7]:
for column in column_list:
    print(df[column].nunique())
    print('----------------')

92171
----------------
92171
----------------
92171
----------------
48398
----------------
43773
----------------
92163
----------------
1
----------------
1
----------------
20631
----------------
1
----------------
1
----------------
3428
----------------
1
----------------
1
----------------
7649
----------------
1
----------------
8
----------------
1
----------------
56
----------------
20255
----------------
11690
----------------
225
----------------
0
----------------
1068
----------------
31247
----------------
10921
----------------
14
----------------
547
----------------
547
----------------
311
----------------
156
----------------
18
----------------
24
----------------
3
----------------
16
----------------
1
----------------
1
----------------
2
----------------
9
----------------
63
----------------
347
----------------
2
----------------
282
----------------
573
----------------
166
----------------
2
----------------
1645
----------------
4872
----------------
1081
----------------
30
----------------
1111
----------------
8
----------------
3
----------------
4
----------------
3
----------------
2
----------------
2
----------------
2
----------------
8
----------------
2
----------------
6
----------------
3
----------------
3
----------------
3
----------------
9
----------------
2
----------------
8
----------------
3
----------------
34
----------------
101
----------------
2
----------------
2
----------------
3
----------------
2
----------------
4
----------------
2
----------------
11
----------------
4
----------------
2
----------------
2
----------------
2
----------------
4
----------------
4
----------------
2
----------------
4
----------------
3
----------------
4
----------------
62
----------------
4
----------------
3
----------------
35
----------------
42
----------------
62
----------------
59
----------------
42
----------------
66
----------------
30
----------------
4
----------------
3
----------------
69
----------------
12
----------------
4
----------------
4
----------------
5
----------------
5
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
564
----------------
4
----------------
3
----------------
2
----------------
4
----------------
2
----------------
2
----------------
2
----------------
3
----------------
2
----------------
2
----------------
2
----------------
3
----------------
3
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
6877
----------------

In [8]:
# bin 3 lists of column names by number of unique values
one_unique_list = []
two_unique_list = []
three_unique_list = []
four_unique_list = []
med_unique_list = []

for x in column_list:
    if df[x].nunique() == 1:
        one_unique_list.append(x)
    elif df[x].nunique() == 2:
        two_unique_list.append(x)
    elif df[x].nunique() == 3:
        three_unique_list.append(x)
    elif df[x].nunique() == 4:
        four_unique_list.append(x)
    else: 
        med_unique_list.append(x)

In [9]:
# check for matches
if collections.Counter(one_unique_list) == collections.Counter(two_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [10]:
# check for matches
if collections.Counter(two_unique_list) == collections.Counter(three_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [11]:
# check for matches
if collections.Counter(three_unique_list) == collections.Counter(four_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [12]:
# check for matches
if collections.Counter(four_unique_list) == collections.Counter(med_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [13]:
# double check for correct nunique
for x in one_unique_list:
    print(df[x].nunique())

# CORRECT

1
1
1
1
1
1
1
1
1
1

In [14]:
# double check for correct nunique
for x in two_unique_list:
    print(df[x].nunique())

# CORRECT

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [15]:
# double check for correct nunique
for x in three_unique_list:
    print(df[x].nunique())
    
# CORRECT

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

In [16]:
# double check for correct nunique
for x in four_unique_list:
    print(df[x].nunique())


# CORRECT

4
4
4
4
4
4
4
4
4
4
4
4
4

In [17]:
# double check for correct nunique
for x in med_unique_list:
    print(df[x].nunique())


# CORRECT

92171
92171
92171
48398
43773
92163
20631
3428
7649
8
56
20255
11690
225
0
1068
31247
10921
14
547
547
311
156
18
24
16
9
63
347
282
573
166
1645
4872
1081
30
1111
8
8
6
9
8
34
101
11
62
35
42
62
59
42
66
30
69
12
5
5
564
6877

In [18]:
len(one_unique_list)

10

In [19]:
len(two_unique_list)

38

In [20]:
len(three_unique_list)

15

In [21]:
len(four_unique_list)

13

In [22]:
len(med_unique_list)

59

## Replace nan with 0 and categorical values with numerical values inplace

In [25]:
# check rate of na values in low variety columns
for x in one_unique_list:
    print(df[x].isna().sum())
    print("--------------")

92037
--------------
90689
--------------
85730
--------------
92166
--------------
72851
--------------
92165
--------------
92163
--------------
92108
--------------
52621
--------------
51193
--------------

In [24]:
# check name of unique values in low variety columns
for x in one_unique_list:
    print(df[x].value_counts())
    print("--------------")

×    134
Name: Hybrid_Genus_Indicator, dtype: int64
--------------
×    1482
Name: Hybrid_Species_Indicator, dtype: int64
--------------
ssp.    6441
Name: Subspecies_Prefix, dtype: int64
--------------
×    5
Name: Hybrid_Subspecies_Indicator, dtype: int64
--------------
var.    19320
Name: Variety_Prefix, dtype: int64
--------------
×    6
Name: Hybrid_Variety_Indicator, dtype: int64
--------------
subvar.    8
Name: Subvariety_Prefix, dtype: int64
--------------
f.    63
Name: Forma_Prefix, dtype: int64
--------------
Spermatophyta    39550
Name: SuperDivision, dtype: int64
--------------
Tracheobionta    40978
Name: SubKingdom, dtype: int64
--------------

In [26]:
# replace single column value with numeric
for x in one_unique_list:
#     df[x].fillna(0, inplace = True)
#     df[x].loc[~df[x].isnull()] = 1
    df[x].fillna(0,inplace=True)
    df[x]=df[x].apply(lambda x: 1 if x!=0 else 0)
#     y = (df[x].unique().tolist())
#     df[x] = df[x].map({y:1})
#     for z in y:
#         print(z) 

#     df[x].replace({y:1})

#     print(y)
#     print(len(y)) = 2 x10
#     df[x].replace({y:1},inplace=True)

In [27]:
for x in one_unique_list:
    print(df[x].value_counts())

0    92037
1      134
Name: Hybrid_Genus_Indicator, dtype: int64
0    90689
1     1482
Name: Hybrid_Species_Indicator, dtype: int64
0    85730
1     6441
Name: Subspecies_Prefix, dtype: int64
0    92166
1        5
Name: Hybrid_Subspecies_Indicator, dtype: int64
0    72851
1    19320
Name: Variety_Prefix, dtype: int64
0    92165
1        6
Name: Hybrid_Variety_Indicator, dtype: int64
0    92163
1        8
Name: Subvariety_Prefix, dtype: int64
0    92108
1       63
Name: Forma_Prefix, dtype: int64
0    52621
1    39550
Name: SuperDivision, dtype: int64
0    51193
1    40978
Name: SubKingdom, dtype: int64

In [28]:
# check rate of na values in low variety columns
for x in one_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [ ]:
# # check name of unique values in low variety columns
# for x in two_unique_list:
#     print(df[x].unique().tolist())
#     print("--------------")

In [30]:
# check rate of na values in low variety columns
for x in two_unique_list:
    print(df[x].isna().sum())
    print("--------------")

43775
--------------
92076
--------------
91411
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------

In [29]:
# check name of unique values in low variety columns
for x in two_unique_list:
    print(df[x].value_counts())
    print("--------------")

Plantae    43786
Fungi       4610
Name: Kingdom, dtype: int64
--------------
NW       94
NW, Q     1
Name: Federal_Noxious_Status, dtype: int64
--------------
Endangered    609
Threatened    151
Name: Federal_T_E_Status, dtype: int64
--------------
No     936
Yes    145
Name: Coppice_Potential, dtype: int64
--------------
No     868
Yes    213
Name: Fall_Conspicuous, dtype: int64
--------------
No     991
Yes     90
Name: Fire_Resistance, dtype: int64
--------------
No     604
Yes    477
Name: Flower_Conspicuous, dtype: int64
--------------
No     734
Yes    347
Name: Fruit_Conspicuous, dtype: int64
--------------
No     1048
Yes      33
Name: Known_Allelopath, dtype: int64
--------------
No     942
Yes    139
Name: Leaf_Retention, dtype: int64
--------------
No     1000
Yes      81
Name: Low_Growing_Grass, dtype: int64
--------------
No     747
Yes    334
Name: Resprout_Ability, dtype: int64
--------------
Yes    767
No     314
Name: Adapted_to_Coarse_Textured_Soils, dtype: int64
--------------
Yes    1045
No       36
Name: Adapted_to_Medium_Textured_Soils, dtype: int64
--------------
Yes    589
No     492
Name: Adapted_to_Fine_Textured_Soils, dtype: int64
--------------
No     734
Yes    347
Name: Cold_Stratification_Required, dtype: int64
--------------
No     833
Yes    248
Name: Fruit_Seed_Persistence, dtype: int64
--------------
Yes    593
No     488
Name: Propogated_by_Bare_Root, dtype: int64
--------------
No     1068
Yes      13
Name: Propogated_by_Bulbs, dtype: int64
--------------
No     563
Yes    518
Name: Propogated_by_Container, dtype: int64
--------------
No     1071
Yes      10
Name: Propogated_by_Corms, dtype: int64
--------------
No     844
Yes    237
Name: Propogated_by_Cuttings, dtype: int64
--------------
Yes    1004
No       77
Name: Propogated_by_Seed, dtype: int64
--------------
No     1073
Yes       8
Name: Propogated_by_Sod, dtype: int64
--------------
No     824
Yes    257
Name: Propogated_by_Sprigs, dtype: int64
--------------
No     1070
Yes      11
Name: Propogated_by_Tubers, dtype: int64
--------------
No     1073
Yes       8
Name: Small_Grain, dtype: int64
--------------
No     1012
Yes      69
Name: Berry_Nut_Seed_Product, dtype: int64
--------------
No     1062
Yes      19
Name: Christmas_Tree_Product, dtype: int64
--------------
No     840
Yes    241
Name: Fodder_Product, dtype: int64
--------------
No     1017
Yes      64
Name: Lumber_Product, dtype: int64
--------------
No     1050
Yes      31
Name: Naval_Store_Product, dtype: int64
--------------
No     692
Yes    389
Name: Nursery_Stock_Product, dtype: int64
--------------
No     928
Yes    153
Name: Palatable_Human, dtype: int64
--------------
No     1036
Yes      45
Name: Post_Product, dtype: int64
--------------
Low       775
Medium    306
Name: Protein_Potential, dtype: int64
--------------
No     1026
Yes      55
Name: Pulpwood_Product, dtype: int64
--------------
No     1021
Yes      60
Name: Veneer_Product, dtype: int64
--------------

In [31]:
# replace single column value with numeric
for x in two_unique_list:
#     df[x].fillna(0, inplace=True)
    df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [32]:
# check name of unique values in low variety columns
for x in two_unique_list:
    print(df[x].value_counts())
    print("--------------")

0    43786
2    43775
1     4610
Name: Kingdom, dtype: int64
--------------
2    92076
0       94
1        1
Name: Federal_Noxious_Status, dtype: int64
--------------
2    91411
0      609
1      151
Name: Federal_T_E_Status, dtype: int64
--------------
2    91090
0      936
1      145
Name: Coppice_Potential, dtype: int64
--------------
2    91090
0      868
1      213
Name: Fall_Conspicuous, dtype: int64
--------------
2    91090
0      991
1       90
Name: Fire_Resistance, dtype: int64
--------------
2    91090
0      604
1      477
Name: Flower_Conspicuous, dtype: int64
--------------
2    91090
0      734
1      347
Name: Fruit_Conspicuous, dtype: int64
--------------
2    91090
0     1048
1       33
Name: Known_Allelopath, dtype: int64
--------------
2    91090
1      942
0      139
Name: Leaf_Retention, dtype: int64
--------------
2    91090
0     1000
1       81
Name: Low_Growing_Grass, dtype: int64
--------------
2    91090
0      747
1      334
Name: Resprout_Ability, dtype: int64
--------------
2    91090
0      767
1      314
Name: Adapted_to_Coarse_Textured_Soils, dtype: int64
--------------
2    91090
0     1045
1       36
Name: Adapted_to_Medium_Textured_Soils, dtype: int64
--------------
2    91090
0      589
1      492
Name: Adapted_to_Fine_Textured_Soils, dtype: int64
--------------
2    91090
1      734
0      347
Name: Cold_Stratification_Required, dtype: int64
--------------
2    91090
0      833
1      248
Name: Fruit_Seed_Persistence, dtype: int64
--------------
2    91090
0      593
1      488
Name: Propogated_by_Bare_Root, dtype: int64
--------------
2    91090
0     1068
1       13
Name: Propogated_by_Bulbs, dtype: int64
--------------
2    91090
1      563
0      518
Name: Propogated_by_Container, dtype: int64
--------------
2    91090
0     1071
1       10
Name: Propogated_by_Corms, dtype: int64
--------------
2    91090
0      844
1      237
Name: Propogated_by_Cuttings, dtype: int64
--------------
2    91090
0     1004
1       77
Name: Propogated_by_Seed, dtype: int64
--------------
2    91090
0     1073
1        8
Name: Propogated_by_Sod, dtype: int64
--------------
2    91090
0      824
1      257
Name: Propogated_by_Sprigs, dtype: int64
--------------
2    91090
0     1070
1       11
Name: Propogated_by_Tubers, dtype: int64
--------------
2    91090
0     1073
1        8
Name: Small_Grain, dtype: int64
--------------
2    91090
0     1012
1       69
Name: Berry_Nut_Seed_Product, dtype: int64
--------------
2    91090
1     1062
0       19
Name: Christmas_Tree_Product, dtype: int64
--------------
2    91090
0      840
1      241
Name: Fodder_Product, dtype: int64
--------------
2    91090
1     1017
0       64
Name: Lumber_Product, dtype: int64
--------------
2    91090
1     1050
0       31
Name: Naval_Store_Product, dtype: int64
--------------
2    91090
1      692
0      389
Name: Nursery_Stock_Product, dtype: int64
--------------
2    91090
0      928
1      153
Name: Palatable_Human, dtype: int64
--------------
2    91090
0     1036
1       45
Name: Post_Product, dtype: int64
--------------
2    91090
0      775
1      306
Name: Protein_Potential, dtype: int64
--------------
2    91090
1     1026
0       55
Name: Pulpwood_Product, dtype: int64
--------------
2    91090
1     1021
0       60
Name: Veneer_Product, dtype: int64
--------------

In [33]:
# check rate of na values in low variety columns
for x in two_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [ ]:
# # replace single column value with numeric
# for x in two_unique_list:
# #     df[x].fillna(0, inplace=True)
#     df[x + '_Fact'] = pd.factorize(df[x], na_sentinel=None)[0]
# #     df.drop(columns=[x])
# #     df[x] = df[x].replace(np.nan,0)
# #     if y != na:
        
# #     print(y) = [nan 'x']
# #     print(type(y)) = numpy array
# #     print(len(y)) = 2 x10
# #     df[x].replace({y:1},inplace=True)

In [ ]:
# check name of unique values in low variety columns
for x in two_unique_list:
    print(df[x].unique().tolist())
    print("--------------")

In [ ]:
df.head()

In [ ]:
# replace single column value with numeric
for x in rando_list:
#     df[x].fillna(0, inplace = True)
#     df[x].loc[~df[x].isnull()] = 1
    df[x].fillna(0,inplace=True)
    df[x]=df[x].apply(lambda x: 1 if x!=0 else 0)
#     y = (df[x].unique().tolist())
#     df[x] = df[x].map({y:1})
#     for z in y:
#         print(z) 

#     df[x].replace({y:1})

#     print(y)
#     print(len(y)) = 2 x10
#     df[x].replace({y:1},inplace=True)

In [ ]:
# check rate of na values in low variety columns
for x in two_unique_list:
    print(df[x].describe())
    print("--------------")

In [ ]:
# hot encode binaries into column

In [ ]:
# for column in column_list:
#     print(df[column].describe())
#     print('----------')

In [ ]:
df['State_and_Province'].value_counts()

In [ ]:
# get details on plant presence
print(df.State_and_Province.describe())

In [ ]:
# get details on plant noxious status
print(df.State_Noxious_Status.describe())

In [ ]:
df.State_T_E_Status.value_counts()

# CREATE ENRICHED DATASET

In [ ]:
column_list_groups = [['id', 'drop'],
 ['Symbol', 'drop'],
 ['Accepted_Symbol_x', 'shorthand for scientific name'],
 ['Synonym_Symbol_x', 'drop'],
 ['Scientific_Name_x', 'drop'],
 ['Hybrid_Genus_Indicator', 'T/F'],
 ['Hybrid_Species_Indicator', 'T/F'],
 ['Species', 'repeats'],
 ['Subspecies_Prefix', 'T/F'],
 ['Hybrid_Subspecies_Indicator', 'drop'],
 ['Subspecies', 'repeats (similar to species)'],
 ['Variety_Prefix', 'drop'],
 ['Hybrid_Variety_Indicator', 'drop'],
 ['Variety', '72k nulls some overlap with other columns'],
 ['Subvariety_Prefix', 'drop'],
 ['Subvariety', 'drop'],
 ['Forma_Prefix', 'drop'],
 ['Forma', 'drop'],
 ['Genera_Binomial_Author', 'discovering author'],
 ['Trinomial_Author', 'drop'],
 ['Quadranomial_Author', 'drop'],
 ['Questionable_Taxon_Indicator', 'drop'],
 ['Parents', 'drop'],
 ['Common_Name', 'T/F'],
 ['State_and_Province', 'is present column'],
 ['Category', 'fill na'],
 ['Family', 'drop'],
 ['Family_Symbol', 'fill na'],
 ['Family_Common_Name', 'fill na'],
 ['xOrder', 'fill na'],
 ['SubClass', 'fill na'],
 ['Class', 'fill na'],
 ['SubDivision', 'drop'],
 ['Division', 'fill na'],
 ['SuperDivision', 'fill na'],
 ['SubKingdom', 'fill na'],
 ['Kingdom', 'fill na'],
 ['Duration', 'split and fill na'],
 ['Growth_Habit', 'Split dummies and fill na'],
 ['Native_Status', 'more thought'],
 ['Federal_Noxious_Status', 'Combine with State'],
 ['State_Noxious_Status', 'Filter to NC and combine'],
 ['State_Noxious_Common_Name', 'drop'],
 ['Invasive', 'potential target'],
 ['Federal_T_E_Status', 'fill na'],
 ['State_T_E_Status', 'filter to nc'],
 ['State_T_E_Common_Name', 'drop'],
 ['Accepted_Symbol_y', 'drop'],
 ['Synonym_Symbol_y', 'drop'],
 ['Scientific_Name_y', 'drop'],
 ['Active_Growth_Period', 'Enriched Dataset'],
 ['After_Harvest_Regrowth_Rate', 'Enriched Dataset'],
 ['Bloat', 'Enriched Dataset'],
 ['C_N_Ratio', 'Enriched Dataset'],
 ['Coppice_Potential', 'Enriched Dataset'],
 ['Fall_Conspicuous', 'Enriched Dataset'],
 ['Fire_Resistance', 'Enriched Dataset'],
 ['Flower_Color', 'fill na'],
 ['Flower_Conspicuous', 'Enriched Dataset'],
 ['Foliage_Color', 'Enriched Dataset'],
 ['Foliage_Porosity_Summer', 'Enriched Dataset'],
 ['Foliage_Porosity_Winter', 'Enriched Dataset'],
 ['Foliage_Texture', 'Enriched Dataset'],
 ['Fruit_Color', 'Enriched Dataset'],
 ['Fruit_Conspicuous', 'Enriched Dataset'],
 ['Growth_Form', 'Enriched Dataset'],
 ['Growth_Rate', 'Enriched Dataset'],
 ['Height_at_Base_Age_Maximum_feet', 'Enriched Dataset'],
 ['Height_Mature_feet', 'Enriched Dataset'],
 ['Known_Allelopath', 'Enriched Dataset'],
 ['Leaf_Retention', 'Enriched Dataset'],
 ['Lifespan', 'Enriched Dataset'],
 ['Low_Growing_Grass', 'Enriched Dataset'],
 ['Nitrogen_Fixation', 'Enriched Dataset'],
 ['Resprout_Ability', 'Enriched Dataset'],
 ['Shape_and_Orientation', 'Enriched Dataset'],
 ['Toxicity', 'Enriched Dataset'],
 ['Adapted_to_Coarse_Textured_Soils', 'Enriched Dataset'],
 ['Adapted_to_Medium_Textured_Soils', 'Enriched Dataset'],
 ['Adapted_to_Fine_Textured_Soils', 'Enriched Dataset'],
 ['Anaerobic_Tolerance', 'Enriched Dataset'],
 ['CaCO_3_Tolerance', 'Enriched Dataset'],
 ['Cold_Stratification_Required', 'Enriched Dataset'],
 ['Drought_Tolerance', 'Enriched Dataset'],
 ['Fertility_Requirement', 'Enriched Dataset'],
 ['Fire_Tolerance', 'Enriched Dataset'],
 ['Frost_Free_Days_Minimum', 'Enriched Dataset'],
 ['Hedge_Tolerance', 'Enriched Dataset'],
 ['Moisture_Use', 'Enriched Dataset'],
 ['pH_Minimum', 'Enriched Dataset'],
 ['pH_Maximum', 'Enriched Dataset'],
 ['Planting_Density_per_Acre_Minimum', 'Enriched Dataset'],
 ['Planting_Density_per_Acre_Maximum', 'Enriched Dataset'],
 ['Precipitation_Minimum', 'Enriched Dataset'],
 ['Precipitation_Maximum', 'Enriched Dataset'],
 ['Root_Depth_Minimum_inches', 'Enriched Dataset'],
 ['Salinity_Tolerance', 'Enriched Dataset'],
 ['Shade_Tolerance', 'Enriched Dataset'],
 ['Temperature_Minimum_F', 'Enriched Dataset'],
 ['Bloom_Period', 'Enriched Dataset'],
 ['Commercial_Availability', 'Enriched Dataset'],
 ['Fruit_Seed_Abundance', 'Enriched Dataset'],
 ['Fruit_Seed_Period_Begin', 'Enriched Dataset'],
 ['Fruit_Seed_Period_End', 'Enriched Dataset'],
 ['Fruit_Seed_Persistence', 'Enriched Dataset'],
 ['Propogated_by_Bare_Root', 'Enriched Dataset'],
 ['Propogated_by_Bulbs', 'Enriched Dataset'],
 ['Propogated_by_Container', 'Enriched Dataset'],
 ['Propogated_by_Corms', 'Enriched Dataset'],
 ['Propogated_by_Cuttings', 'Enriched Dataset'],
 ['Propogated_by_Seed', 'Enriched Dataset'],
 ['Propogated_by_Sod', 'Enriched Dataset'],
 ['Propogated_by_Sprigs', 'Enriched Dataset'],
 ['Propogated_by_Tubers', 'Enriched Dataset'],
 ['Seeds_per_Pound', 'Enriched Dataset'],
 ['Seed_Spread_Rate', 'Enriched Dataset'],
 ['Seedling_Vigor', 'Enriched Dataset'],
 ['Small_Grain', 'Enriched Dataset'],
 ['Vegetative_Spread_Rate', 'Enriched Dataset'],
 ['Berry_Nut_Seed_Product', 'Enriched Dataset'],
 ['Christmas_Tree_Product', 'Enriched Dataset'],
 ['Fodder_Product', 'Enriched Dataset'],
 ['Fuelwood_Product', 'Enriched Dataset'],
 ['Lumber_Product', 'Enriched Dataset'],
 ['Naval_Store_Product', 'Enriched Dataset'],
 ['Nursery_Stock_Product', 'Enriched Dataset'],
 ['Palatable_Browse_Animal', 'Enriched Dataset'],
 ['Palatable_Graze_Animal', 'Enriched Dataset'],
 ['Palatable_Human', 'Enriched Dataset'],
 ['Post_Product', 'Enriched Dataset'],
 ['Protein_Potential', 'Enriched Dataset'],
 ['Pulpwood_Product', 'Enriched Dataset'],
 ['Veneer_Product', 'Enriched Dataset'],
 ['Genus', 'use']]

In [ ]:
# use list comprehension
enriched_dataset = [col[0] for col in column_list_groups if col[1] == 'Enriched Dataset']

In [ ]:
enriched_dataset

In [ ]:
# Create enriched dataset
df_enriched = pd.DataFrame(df, columns = [enriched_dataset])

In [ ]:
df_enriched.head()

In [ ]:
# need to trim rows for only 10000 subset with complete enriched data

## CORE DATASET

In [ ]:
df_core = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_T_E_Status',
 'State_T_E_Status',
'State_Noxious_Status',
 'Genus'])

In [ ]:
df_core.head()

In [ ]:
df_core['State_and_Province'] = df_core['State_and_Province'].astype('string')

In [ ]:
df_core['State_and_Province'].isna().value_counts().sort_values()

In [ ]:
core_column_list = list(df_core)

In [ ]:
# for column in core_column_list:
#     print(df_core[column].isna().value_counts().sort_values())
#     print('-------------')
#     print(df_core[column].describe())
#     print('-------------')
#     print('-------------')
#     print('-------------')

In [ ]:
df_core.isna().sum()

In [ ]:
# values = {'State_and_Province':'unknown','Native_Status':'unknown',}
df_core.fillna('unknown', inplace=True)

In [ ]:
df_core.isna().sum()

In [ ]:
# # function to id 'Lower 48' states code in super string
# def in_l48(string):
#         if string.find('L48') == -1:
#             return False
#         else:
#             return True

In [ ]:
# # function to id 'NC' state code in super string
# def in_nc(string):
#         if string.find('NC') == -1:
#             return False
#         else:
#             return True

In [ ]:
# df_core_nc = df_core.copy()

In [ ]:
# create df with nc nativity known
# df_core_nc['In_NC'] = df_core['State_and_Province'].apply(in_nc)
# df_core_nc['Native_L48'] = df_core['Native_Status'].apply(in_l48)
# df_core_nc['Native_NC'] = df_core['Native_Status'].apply(in_nc)

In [ ]:
list(df_core.columns)

## DF_CORE TARGET COLUMN ISOLATION, PREPROCESS

In [ ]:
state_abr_list = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC'
,'ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VI','VA','WA','WV','WI','WY','L48']

In [ ]:
# create column for each state in state_abr_list
for x in state_abr_list:
    df_core[x]=0

In [ ]:
def state_col(string):
    for x in state_abr_list:
        if string.find(x) != -1:
            return True
        else:
            return False

In [ ]:
# # for loop through State_and_Province to create column of boolean for each item in state_abr_list
# for item in state_abr_list:
# #     for y in df_core['State_and_Province']:
#     for df_core:
#         if df_core['State_and_Province'].apply(state_col) = True:
#             df_core[y]
# ERROR

In [ ]:
def in_state(string, state):
        if string.find(state) == -1:
            return 0
        else:
            return 1

In [ ]:
for state in state_abr_list:
    df_core[state] = df_core['State_and_Province'].apply(lambda x: in_state(x, state))
    if df_core[state].isna().sum() == 92171:
        df_core[state].drop(column=[df_core[state]])

In [ ]:
df_core

In [ ]:
df_core_state.head()

In [ ]:
# create a new columns for each state with _Native string added
# without + _Native, loop would create one column and overwrite itself for each loop
for state in state_abr_list:
    df_core_state[state + '_Native'] = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))

In [ ]:
## for state in state_abr_list:
## df_core_state[state + '_Native'] = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))


## for state in state_abr_list:
##    df_core[state] = df_core['State_and_Province'].apply(lambda x: in_state(x, state))
        
## rework code
### make 2 empty lists outside for loop
### list 1 = append new columns +Native names
### list 2 = append new columsn from lambda loop
### outside of for loop create new df by merging the two SAME SIZE lists
### concate new df onto old data frame with axis = 1 so it appends to the side not underneath/above

#### Native_names = []
#### Lambda_products = []

In [ ]:
df_core_process = df_core_state.copy()

In [ ]:
df_core_process

In [ ]:
column_process_list = list(df_core_process)

In [ ]:
for column in column_process_list:
    print(df_core_process[column].describe())
    print('----------')

In [ ]:
core_process = df_core_process.drop(columns = ['AL_Native', 'L48','AS_Native','MA_Native',
'AZ_Native','AR_Native','CO_Native','CT_Native','DE_Native','DC_Native','MN_Native',
'FM_Native','FL_Native','GA_Native','GU_Native','ID_Native','IL_Native','IN_Native',
'IA_Native','KS_Native','KY_Native','LA_Native','ME_Native','MH_Native','MD_Native',
'MI_Native','MO_Native','MS_Native','WY_Native','WI_Native','WV_Native','VA_Native',
'WA_Native','VT_Native','UT_Native','TX_Native','TN_Native','SD_Native','SC_Native',
'RI_Native','PA_Native','PW_Native','OR_Native','OK_Native','OH_Native','MP_Native',
'NC_Native','NY_Native','NM_Native','NJ_Native','NH_Native','NV_Native','NE_Native',
'ND_Native','MT_Native'])

In [ ]:
df_core_process

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [ ]:
list(df_core_process)

In [ ]:
# df_core_process.unique()

In [ ]:
df_core_process.dtypes

In [ ]:
list(df_core_process)

In [ ]:
for column in column_process_list:
    print(df_core_process[column].unique())
    print('----------')

## DF TARGET COLUMN ISOLATION

In [ ]:
# # Drop the label to create the X data
# X = df_core.drop('State_Noxious_Status', axis=1)
# X

In [ ]:
X = df_core_process.drop(['State_Noxious_Status','State_and_Province'],axis=1)

In [ ]:
X

In [ ]:
# One-hot encoding the entire dataframe
# X_dummies = pd.get_dummies(X)
# X_dummies
# 92171 rows × 138303 columns

In [ ]:
# One-hot encoding the entire dataframe
# X_dummies = pd.get_dummies(X)
# print(X_dummies.columns)
# X_dummies

## PRODUCES 92171 rows × 149451 columns

In [ ]:
# Converting output labels to 0 and 1
# y_label = LabelEncoder().fit_transform(df_core_process['State_Noxious_Status'])
# y_label

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=99)

In [ ]:
# Scaling the X data by using StandardScaler()
# scaler = StandardScaler()

In [ ]:
# X_train_scaled = scaler.fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_train_scaled

In [ ]:
# # Alternatively, scaling the data by using MinMaxScaler()
# scaler = MinMaxScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_train_scaled

In [ ]:
# Transforming the test dataset based on the fit from the training dataset
# X_test_scaled = scaler.transform(X_test)
# X_test_scaled

## Score Models

In [ ]:
# clf = RandomForestClassifier(random_state=99, n_estimators=500).fit(X_train, y_train)
# print(f'Training Score: {clf.score(X_train, y_train)}')
# print(f'Testing Score: {clf.score(X_test, y_test)}')