In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [2]:
conn = sqlite3.connect('../usdaplantsapi/usdadb_new.sqlite3')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('usda',)]

In [3]:
c = conn.cursor()

In [4]:
data = pd.read_sql("SELECT * FROM usda", conn)

In [5]:
data

,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,Hybrid_Subspecies_Indicator,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,1,ABAB,ABAB,,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,,,abutiloides,,,...,,,,,,,,,,Abutilon
1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",,,abrus,,,...,,,,,,,,,,Abrus
2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",,,abutilon,,,...,,,,,,,,,,Abutilon
3,4,ABAB70,ABAB70,,Abietinella abietina (Hedw.) Fleisch.,,,abietina,,,...,,,,,,,,,,Abietinella
4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,,,acutalata,,,...,,,,,,,,,,Abronia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92166,92167,ZYVIR,ZYVIR,,Zygodon viridissimus (Dicks.) Brid. var. rupes...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92167,92168,ZYVIR2,ZYVIR,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92168,92169,ZYVIV,ZYVIV,,Zygodon viridissimus (Dicks.) Brid. var. virid...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92169,92170,ZYVIV2,ZYVIR,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92170,92171,ZYVU,ZYVIR,ZYVU,Zygodon vulgaris (Malta) Nyholm,,,vulgaris,,,...,,,,,,,,,,Zygodon

In [6]:
df = data.copy()

In [7]:
# get list of df columns
column_list = list(df)
column_list

['id',
 'Symbol',
 'Accepted_Symbol_x',
 'Synonym_Symbol_x',
 'Scientific_Name_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Hybrid_Subspecies_Indicator',
 'Subspecies',
 'Variety_Prefix',
 'Hybrid_Variety_Indicator',
 'Variety',
 'Subvariety_Prefix',
 'Subvariety',
 'Forma_Prefix',
 'Forma',
 'Genera_Binomial_Author',
 'Trinomial_Author',
 'Quadranomial_Author',
 'Questionable_Taxon_Indicator',
 'Parents',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'SubDivision',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'State_Noxious_Common_Name',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'State_T_E_Common_Name',
 'Accepted_Symbol_y',
 'Synonym_Symbol_y',
 'Scientific_Name_y',
 'Active_Growth_Period',
 'After_Harvest_Regrowth_Rate',
 'Bloat',
 'C_N_Ratio',
 'Coppice_Potential',
 'Fall_Conspicuous',
 'Fire_Resistance',
 'Flower_Color',
 'Flower_Conspicuous',
 'Foliage_Color',
 'Foliage_Porosity_Summer',
 'Foliage_Porosity_Winter',
 'Foliage_Texture',
 'Fruit_Color',
 'Fruit_Conspicuous',
 'Growth_Form',
 'Growth_Rate',
 'Height_at_Base_Age_Maximum_feet',
 'Height_Mature_feet',
 'Known_Allelopath',
 'Leaf_Retention',
 'Lifespan',
 'Low_Growing_Grass',
 'Nitrogen_Fixation',
 'Resprout_Ability',
 'Shape_and_Orientation',
 'Toxicity',
 'Adapted_to_Coarse_Textured_Soils',
 'Adapted_to_Medium_Textured_Soils',
 'Adapted_to_Fine_Textured_Soils',
 'Anaerobic_Tolerance',
 'CaCO_3_Tolerance',
 'Cold_Stratification_Required',
 'Drought_Tolerance',
 'Fertility_Requirement',
 'Fire_Tolerance',
 'Frost_Free_Days_Minimum',
 'Hedge_Tolerance',
 'Moisture_Use',
 'pH_Minimum',
 'pH_Maximum',
 'Planting_Density_per_Acre_Minimum',
 'Planting_Density_per_Acre_Maximum',
 'Precipitation_Minimum',
 'Precipitation_Maximum',
 'Root_Depth_Minimum_inches',
 'Salinity_Tolerance',
 'Shade_Tolerance',
 'Temperature_Minimum_F',
 'Bloom_Period',
 'Commercial_Availability',
 'Fruit_Seed_Abundance',
 'Fruit_Seed_Period_Begin',
 'Fruit_Seed_Period_End',
 'Fruit_Seed_Persistence',
 'Propogated_by_Bare_Root',
 'Propogated_by_Bulbs',
 'Propogated_by_Container',
 'Propogated_by_Corms',
 'Propogated_by_Cuttings',
 'Propogated_by_Seed',
 'Propogated_by_Sod',
 'Propogated_by_Sprigs',
 'Propogated_by_Tubers',
 'Seeds_per_Pound',
 'Seed_Spread_Rate',
 'Seedling_Vigor',
 'Small_Grain',
 'Vegetative_Spread_Rate',
 'Berry_Nut_Seed_Product',
 'Christmas_Tree_Product',
 'Fodder_Product',
 'Fuelwood_Product',
 'Lumber_Product',
 'Naval_Store_Product',
 'Nursery_Stock_Product',
 'Palatable_Browse_Animal',
 'Palatable_Graze_Animal',
 'Palatable_Human',
 'Post_Product',
 'Protein_Potential',
 'Pulpwood_Product',
 'Veneer_Product',
 'Genus']

In [8]:
# find empty columns
df_null_list = df.isnull().sum().head(100)
print(df_null_list)

id                           0
Symbol                       0
Accepted_Symbol_x            0
Synonym_Symbol_x             0
Scientific_Name_x            0
                            ..
Root_Depth_Minimum_inches    0
Salinity_Tolerance           0
Shade_Tolerance              0
Temperature_Minimum_F        0
Bloom_Period                 0
Length: 100, dtype: int64

In [9]:
df_state_nox_list = df["State_Noxious_Status"].isnull().sum().head(100)

AttributeError: 'numpy.int64' object has no attribute 'head'

In [10]:
# get overview of data
print(df.State_Noxious_Status.value_counts())

                                                                                    91551
HI (NW)                                                                                56
AL (CAW), CA (Q), FL (NW), MA (P), MN (PNW), NC (CAW), OR (Q), SC (PP), VT (CAW)       29
AL (CAW), CA (Q), MN (PNW), NC (CAW), OR (Q), SC (PP), VT (CAW)                        22
CA (BW)                                                                                21
                                                                                    ...
CO (AW), OR (BDW, Q)                                                                    1
CA (BW), WA (CAW, NWSPQ)                                                                1
FL (NW), SC (PP)                                                                        1
SD (RNPS)                                                                               1
CA (AW), ID (NW), OR (ADW, Q), WA (CAW, NWSPQ)                                          1
Name: State_Noxious_Status, Length: 283, dtype: int64

In [11]:
print(df.State_and_Province.value_counts())

                                                                                                                                                                                               56506
USA (CA)                                                                                                                                                                                        3487
USA (HI)                                                                                                                                                                                        1875
USA+ (PR)                                                                                                                                                                                       1574
USA (TX)                                                                                                                                                                                        1155
                                                                                                                                                                                               ...
USA (DC, HI, LA, MA, MD, NY, OH, PA, TX, VA), USA+ (PR, VI)                                                                                                                                        1
USA (CT, KS, ME, NH, NY, PA, RI, VA, VT)                                                                                                                                                           1
USA (AK, CO, CT, DC, DE, ID, IL, IN, KY, MA, MD, ME, MI, MN, MT, NH, NJ, NY, OH, OR, PA, RI, UT, VA, VT, WA, WI, WV), CAN (AB, BC, MB, NB, NF, NS, ON, PE, QC, SK, YT), DEN (GL), FRA (SPM)        1
USA (AZ, CO, KS, NM, SD, UT, WY)                                                                                                                                                                   1
USA (AL, AR, CA, FL, GA, HI, IL, LA, MA, ME, MS, NC, NY, OH, OR, PA, SC, TX, WA, WV), CAN (BC, ON)                                                                                                 1
Name: State_and_Province, Length: 10922, dtype: int64

In [ ]:
df.State_Noxious_Status.describe()

In [ ]:
df.State_and_Province.describe()

In [12]:
df_invasive = pd.DataFrame(df, columns = ['id','Symbol','Scientific_Name_x','State_Noxious_Status','Invasive','Native_Status','State_and_Province'])
df_invasive

,id,Symbol,Scientific_Name_x,State_Noxious_Status,Invasive,Native_Status,State_and_Province
0,1,ABAB,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,,,"L48 (N), PR (N), VI (I)","USA (AZ, TX), USA+ (PR, VI)"
1,2,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",,,,
2,3,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",,,,
3,4,ABAB70,Abietinella abietina (Hedw.) Fleisch.,,,NA (N),USA (NJ)
4,5,ABAC,Abronia acutalata Standl.,,,,
...,...,...,...,...,...,...,...
92166,92167,ZYVIR,Zygodon viridissimus (Dicks.) Brid. var. rupes...,,,NA (N),
92167,92168,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,,,,
92168,92169,ZYVIV,Zygodon viridissimus (Dicks.) Brid. var. virid...,,,NA (N),
92169,92170,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,,,,
92170,92171,ZYVU,Zygodon vulgaris (Malta) Nyholm,,,,

In [ ]:
df_invasive.groupby("State_Noxious_Status").max()

In [ ]:
df.groupby("Invasive").max()

In [ ]:
print(df.Federal_Noxious_Status.value_counts())

In [ ]:
print(df.Invasive.value_counts())