In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

database_path = "../usdaplantsapi/usdadb_new.sqlite3"

In [2]:
conn = sqlite3.connect(f"sqlite:///{database_path}")

OperationalError: unable to open database file

In [3]:
conn = sqlite3.connect('../usdaplantsapi/usdadb_new.sqlite3')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

OperationalError: unable to open database file

In [14]:
c = conn.cursor()

In [22]:
data = pd.read_sql("SELECT * FROM usda", conn)

In [23]:
data

,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,Hybrid_Subspecies_Indicator,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,1,ABAB,ABAB,,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,,,abutiloides,,,...,,,,,,,,,,Abutilon
1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",,,abrus,,,...,,,,,,,,,,Abrus
2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",,,abutilon,,,...,,,,,,,,,,Abutilon
3,4,ABAB70,ABAB70,,Abietinella abietina (Hedw.) Fleisch.,,,abietina,,,...,,,,,,,,,,Abietinella
4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,,,acutalata,,,...,,,,,,,,,,Abronia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92166,92167,ZYVIR,ZYVIR,,Zygodon viridissimus (Dicks.) Brid. var. rupes...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92167,92168,ZYVIR2,ZYVIR,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92168,92169,ZYVIV,ZYVIV,,Zygodon viridissimus (Dicks.) Brid. var. virid...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92169,92170,ZYVIV2,ZYVIR,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,,,viridissimus,,,...,,,,,,,,,,Zygodon
92170,92171,ZYVU,ZYVIR,ZYVU,Zygodon vulgaris (Malta) Nyholm,,,vulgaris,,,...,,,,,,,,,,Zygodon

In [25]:
plants_df = data.copy()

In [ ]:
plants_df.to_csv(usda_)