In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn import tree

In [2]:
# Study data files
data_path = "usda_plantsdb.csv"

# Read the mouse data and the study results
data = pd.read_csv(data_path,low_memory=False)

In [3]:
# Combine the data into a single dataset
df = pd.DataFrame(data)

# Display the data table for preview
df

,Unnamed: 0,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,0,1,ABAB,ABAB,NaN,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,NaN,NaN,abutiloides,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
1,1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",NaN,NaN,abrus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abrus
2,2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",NaN,NaN,abutilon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
3,3,4,ABAB70,ABAB70,NaN,Abietinella abietina (Hedw.) Fleisch.,NaN,NaN,abietina,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abietinella
4,4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,NaN,NaN,acutalata,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abronia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92166,92166,92167,ZYVIR,ZYVIR,NaN,Zygodon viridissimus (Dicks.) Brid. var. rupes...,NaN,NaN,viridissimus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zygodon
92167,92167,92168,ZYVIR2,ZYVIR,ZYVIR2,Zygodon viridissimus (Dicks.) Brid. var. rufot...,NaN,NaN,viridissimus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zygodon
92168,92168,92169,ZYVIV,ZYVIV,NaN,Zygodon viridissimus (Dicks.) Brid. var. virid...,NaN,NaN,viridissimus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zygodon
92169,92169,92170,ZYVIV2,ZYVIR,ZYVIV2,Zygodon viridissimus (Dicks.) Brid. var. vulga...,NaN,NaN,viridissimus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zygodon
92170,92170,92171,ZYVU,ZYVIR,ZYVU,Zygodon vulgaris (Malta) Nyholm,NaN,NaN,vulgaris,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zygodon

In [4]:
column_list = list(df)
column_list

['Unnamed: 0',
 'id',
 'Symbol',
 'Accepted_Symbol_x',
 'Synonym_Symbol_x',
 'Scientific_Name_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Hybrid_Subspecies_Indicator',
 'Subspecies',
 'Variety_Prefix',
 'Hybrid_Variety_Indicator',
 'Variety',
 'Subvariety_Prefix',
 'Subvariety',
 'Forma_Prefix',
 'Forma',
 'Genera_Binomial_Author',
 'Trinomial_Author',
 'Quadranomial_Author',
 'Questionable_Taxon_Indicator',
 'Parents',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'SubDivision',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'State_Noxious_Common_Name',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'State_T_E_Common_Name',
 'Accepted_Symbol_y',
 'Synonym_Symbol_y',
 'Scientific_Name_y',
 'Active_Growth_Period',
 'After_Harvest_Regrowth_Rate',
 'Bloat',
 'C_N_Ratio',
 'Coppice_Potential',
 'Fall_Conspicuous',
 'Fire_Resistance',
 'Flower_Color',
 'Flower_Conspicuous',
 'Foliage_Color',
 'Foliage_Porosity_Summer',
 'Foliage_Porosity_Winter',
 'Foliage_Texture',
 'Fruit_Color',
 'Fruit_Conspicuous',
 'Growth_Form',
 'Growth_Rate',
 'Height_at_Base_Age_Maximum_feet',
 'Height_Mature_feet',
 'Known_Allelopath',
 'Leaf_Retention',
 'Lifespan',
 'Low_Growing_Grass',
 'Nitrogen_Fixation',
 'Resprout_Ability',
 'Shape_and_Orientation',
 'Toxicity',
 'Adapted_to_Coarse_Textured_Soils',
 'Adapted_to_Medium_Textured_Soils',
 'Adapted_to_Fine_Textured_Soils',
 'Anaerobic_Tolerance',
 'CaCO_3_Tolerance',
 'Cold_Stratification_Required',
 'Drought_Tolerance',
 'Fertility_Requirement',
 'Fire_Tolerance',
 'Frost_Free_Days_Minimum',
 'Hedge_Tolerance',
 'Moisture_Use',
 'pH_Minimum',
 'pH_Maximum',
 'Planting_Density_per_Acre_Minimum',
 'Planting_Density_per_Acre_Maximum',
 'Precipitation_Minimum',
 'Precipitation_Maximum',
 'Root_Depth_Minimum_inches',
 'Salinity_Tolerance',
 'Shade_Tolerance',
 'Temperature_Minimum_F',
 'Bloom_Period',
 'Commercial_Availability',
 'Fruit_Seed_Abundance',
 'Fruit_Seed_Period_Begin',
 'Fruit_Seed_Period_End',
 'Fruit_Seed_Persistence',
 'Propogated_by_Bare_Root',
 'Propogated_by_Bulbs',
 'Propogated_by_Container',
 'Propogated_by_Corms',
 'Propogated_by_Cuttings',
 'Propogated_by_Seed',
 'Propogated_by_Sod',
 'Propogated_by_Sprigs',
 'Propogated_by_Tubers',
 'Seeds_per_Pound',
 'Seed_Spread_Rate',
 'Seedling_Vigor',
 'Small_Grain',
 'Vegetative_Spread_Rate',
 'Berry_Nut_Seed_Product',
 'Christmas_Tree_Product',
 'Fodder_Product',
 'Fuelwood_Product',
 'Lumber_Product',
 'Naval_Store_Product',
 'Nursery_Stock_Product',
 'Palatable_Browse_Animal',
 'Palatable_Graze_Animal',
 'Palatable_Human',
 'Post_Product',
 'Protein_Potential',
 'Pulpwood_Product',
 'Veneer_Product',
 'Genus']

In [5]:
print(f'# of columns: {len(column_list)}')
print(f'# of rows: {len(df)}')

# of columns: 135
# of rows: 92171

In [6]:
# find empty columns
df_null_list = df.isnull().sum().sort_values().head(100)
print(df_null_list)

Unnamed: 0                   0
Scientific_Name_x            0
Accepted_Symbol_x            0
Genus                        0
id                           0
                         ...
Toxicity                 91096
Hedge_Tolerance          91096
Parents                  91097
Precipitation_Minimum    91097
Precipitation_Maximum    91097
Length: 100, dtype: int64

In [49]:
for column in column_list:
    print(df[column].describe())
    print('----------')

count    92171.000000
mean     46085.000000
std      26607.620168
min          0.000000
25%      23042.500000
50%      46085.000000
75%      69127.500000
max      92170.000000
Name: Unnamed: 0, dtype: float64
----------
count    92171.000000
mean     46086.000000
std      26607.620168
min          1.000000
25%      23043.500000
50%      46086.000000
75%      69128.500000
max      92171.000000
Name: id, dtype: float64
----------
count     92171
unique    92171
top        ABAB
freq          1
Name: Symbol, dtype: object
----------
count     92171
unique    48398
top        MIGU
freq         70
Name: Accepted_Symbol_x, dtype: object
----------
count     43773
unique    43773
top       ABAB2
freq          1
Name: Synonym_Symbol_x, dtype: object
----------
count                       92171
unique                      92163
top       Carex sonomensis Stacey
freq                            2
Name: Scientific_Name_x, dtype: object
----------
count     134
unique      1
top         ×
freq      134
Name: Hybrid_Genus_Indicator, dtype: object
----------
count     1482
unique       1
top          ×
freq      1482
Name: Hybrid_Species_Indicator, dtype: object
----------
count           87160
unique          20631
top       californica
freq              390
Name: Species, dtype: object
----------
count     6441
unique       1
top       ssp.
freq      6441
Name: Subspecies_Prefix, dtype: object
----------
count     5
unique    1
top       ×
freq      5
Name: Hybrid_Subspecies_Indicator, dtype: object
----------
count             6441
unique            3428
top       occidentalis
freq                45
Name: Subspecies, dtype: object
----------
count     19320
unique        1
top        var.
freq      19320
Name: Variety_Prefix, dtype: object
----------
count     6
unique    1
top       ×
freq      6
Name: Hybrid_Variety_Indicator, dtype: object
----------
count         19322
unique         7649
top       pubescens
freq            102
Name: Variety, dtype: object
----------
count           8
unique          1
top       subvar.
freq            8
Name: Subvariety_Prefix, dtype: object
----------
count          8
unique         8
top       mohrii
freq           1
Name: Subvariety, dtype: object
----------
count     63
unique     1
top       f.
freq      63
Name: Forma_Prefix, dtype: object
----------
count                    63
unique                   56
top       attenuatodentatus
freq                      2
Name: Forma, dtype: object
----------
count     87187
unique    20255
top          L.
freq       6609
Name: Genera_Binomial_Author, dtype: object
----------
count       25492
unique      11690
top       A. Gray
freq          494
Name: Trinomial_Author, dtype: object
----------
count              309
unique             225
top       C.L. Hitchc.
freq                13
Name: Quadranomial_Author, dtype: object
----------
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Questionable_Taxon_Indicator, dtype: float64
----------
count                         1074
unique                        1068
top       [canescens × lachenalii]
freq                             2
Name: Parents, dtype: object
----------
count          43200
unique         31247
top       rim lichen
freq             127
Name: Common_Name, dtype: object
----------
count        35665
unique       10921
top       USA (CA)
freq          3487
Name: State_and_Province, dtype: object
----------
count     48398
unique       14
top       Dicot
freq      31496
Name: Category, dtype: object
----------
count          48396
unique           547
top       Asteraceae
freq            4885
Name: Family, dtype: object
----------
count      48398
unique       547
top       ASTERA
freq        4885
Name: Family_Symbol, dtype: object
----------
count            41079
unique             311
top       Aster family
freq              4885
Name: Family_Common_Name, dtype: object
----------
count         48313
unique          156
top       Asterales
freq           4885
Name: xOrder, dtype: object
----------
count         42002
unique           18
top       Asteridae
freq          12149
Name: SubClass, dtype: object
----------
count             48396
unique               24
top       Magnoliopsida
freq              31496
Name: Class, dtype: object
----------
count      2796
unique        3
top       Musci
freq       1839
Name: SubDivision, dtype: object
----------
count             48396
unique               16
top       Magnoliophyta
freq              39191
Name: Division, dtype: object
----------
count             39550
unique                1
top       Spermatophyta
freq              39550
Name: SuperDivision, dtype: object
----------
count             40978
unique                1
top       Tracheobionta
freq              40978
Name: SubKingdom, dtype: object
----------
count       48396
unique          2
top       Plantae
freq        43786
Name: Kingdom, dtype: object
----------
count         32228
unique            9
top       Perennial
freq          25296
Name: Duration, dtype: object
----------
count         39478
unique           63
top       Forb/herb
freq          17251
Name: Growth_Habit, dtype: object
----------
count       38326
unique        347
top       L48 (N)
freq        16756
Name: Native_Status, dtype: object
----------
count     95
unique     2
top       NW
freq      94
Name: Federal_Noxious_Status, dtype: object
----------
count         620
unique        282
top       HI (NW)
freq           56
Name: State_Noxious_Status, dtype: object
----------
count                                                   607
unique                                                  573
top       AL (mesquite), CA (mesquite), MN (mesquite), N...
freq                                                     20
Name: State_Noxious_Common_Name, dtype: object
----------
count      1436
unique      166
top       STATE
freq        248
Name: Invasive, dtype: object
----------
count            760
unique             2
top       Endangered
freq             609
Name: Federal_T_E_Status, dtype: object
----------
count       5247
unique      1645
top       FL (E)
freq         355
Name: State_T_E_Status, dtype: object
----------
count                 5032
unique                4872
top       TN (a liverwort)
freq                    12
Name: State_T_E_Common_Name, dtype: object
----------
count      1111
unique     1081
top       MEIN2
freq          2
Name: Accepted_Symbol_y, dtype: object
----------
count        30
unique       30
top       ALAL2
freq          1
Name: Synonym_Symbol_y, dtype: object
----------
count               1111
unique              1111
top       Abies balsamea
freq                   1
Name: Scientific_Name_y, dtype: object
----------
count                  1079
unique                    8
top       Spring and Summer
freq                    701
Name: Active_Growth_Period, dtype: object
----------
count      594
unique       3
top       Slow
freq       397
Name: After_Harvest_Regrowth_Rate, dtype: object
----------
count     1081
unique       4
top       None
freq      1037
Name: Bloat, dtype: object
----------
count       1049
unique         3
top       Medium
freq         520
Name: C_N_Ratio, dtype: object
----------
count     1081
unique       2
top         No
freq       936
Name: Coppice_Potential, dtype: object
----------
count     1081
unique       2
top         No
freq       868
Name: Fall_Conspicuous, dtype: object
----------
count     1081
unique       2
top         No
freq       991
Name: Fire_Resistance, dtype: object
----------
count       1049
unique         8
top       Yellow
freq         433
Name: Flower_Color, dtype: object
----------
count     1081
unique       2
top         No
freq       604
Name: Flower_Conspicuous, dtype: object
----------
count      1081
unique        6
top       Green
freq        897
Name: Foliage_Color, dtype: object
----------
count         1071
unique           3
top       Moderate
freq           413
Name: Foliage_Porosity_Summer, dtype: object
----------
count       1065
unique         3
top       Porous
freq         817
Name: Foliage_Porosity_Winter, dtype: object
----------
count       1081
unique         3
top       Medium
freq         433
Name: Foliage_Texture, dtype: object
----------
count      1054
unique        9
top       Brown
freq        721
Name: Fruit_Color, dtype: object
----------
count     1081
unique       2
top         No
freq       734
Name: Fruit_Conspicuous, dtype: object
----------
count              1081
unique                8
top       Multiple Stem
freq                265
Name: Growth_Form, dtype: object
----------
count         1079
unique           3
top       Moderate
freq           487
Name: Growth_Rate, dtype: object
----------
count    415.000000
mean      16.477108
std       15.772196
min        1.000000
25%        5.000000
50%       12.000000
75%       25.000000
max      120.000000
Name: Height_at_Base_Age_Maximum_feet, dtype: float64
----------
count    1080.000000
mean       13.170000
std        27.386147
min         0.100000
25%         2.000000
50%         3.000000
75%        10.000000
max       230.000000
Name: Height_Mature_feet, dtype: float64
----------
count     1081
unique       2
top         No
freq      1048
Name: Known_Allelopath, dtype: object
----------
count     1081
unique       2
top         No
freq       942
Name: Leaf_Retention, dtype: object
----------
count         1027
unique           3
top       Moderate
freq           457
Name: Lifespan, dtype: object
----------
count     1081
unique       2
top         No
freq      1000
Name: Low_Growing_Grass, dtype: object
----------
count     1081
unique       4
top       None
freq       974
Name: Nitrogen_Fixation, dtype: object
----------
count     1081
unique       2
top         No
freq       747
Name: Resprout_Ability, dtype: object
----------
count      1081
unique       11
top       Erect
freq        708
Name: Shape_and_Orientation, dtype: object
----------
count     1075
unique       4
top       None
freq       959
Name: Toxicity, dtype: object
----------
count     1081
unique       2
top        Yes
freq       767
Name: Adapted_to_Coarse_Textured_Soils, dtype: object
----------
count     1081
unique       2
top        Yes
freq      1045
Name: Adapted_to_Medium_Textured_Soils, dtype: object
----------
count     1081
unique       2
top        Yes
freq       589
Name: Adapted_to_Fine_Textured_Soils, dtype: object
----------
count     1081
unique       4
top       None
freq       528
Name: Anaerobic_Tolerance, dtype: object
----------
count       1077
unique         4
top       Medium
freq         403
Name: CaCO_3_Tolerance, dtype: object
----------
count     1081
unique       2
top         No
freq       734
Name: Cold_Stratification_Required, dtype: object
----------
count     1081
unique       4
top        Low
freq       353
Name: Drought_Tolerance, dtype: object
----------
count     1081
unique       3
top        Low
freq       534
Name: Fertility_Requirement, dtype: object
----------
count     1065
unique       4
top       High
freq       489
Name: Fire_Tolerance, dtype: object
----------
count    1079.000000
mean      136.274328
std        56.291242
min        30.000000
25%        95.000000
50%       120.000000
75%       160.000000
max       365.000000
Name: Frost_Free_Days_Minimum, dtype: float64
----------
count     1075
unique       4
top       None
freq       702
Name: Hedge_Tolerance, dtype: object
----------
count       1081
unique         3
top       Medium
freq         450
Name: Moisture_Use, dtype: object
----------
count    1078.000000
mean        5.571058
std         0.804674
min         2.100000
25%         5.000000
50%         5.500000
75%         6.000000
max         7.500000
Name: pH_Minimum, dtype: float64
----------
count    1078.000000
mean        7.615770
std         0.693163
min         5.200000
25%         7.100000
50%         7.500000
75%         8.000000
max        10.000000
Name: pH_Maximum, dtype: float64
----------
count      768.000000
mean      2549.613281
std       4774.921837
min         10.000000
25%        430.000000
50%       1200.000000
75%       2700.000000
max      43560.000000
Name: Planting_Density_per_Acre_Minimum, dtype: float64
----------
count       767.000000
mean       6142.114733
std        9649.416755
min          70.000000
25%        1200.000000
50%        2722.000000
75%        4800.000000
max      125000.000000
Name: Planting_Density_per_Acre_Maximum, dtype: float64
----------
count    1074.000000
mean       19.960894
std        11.328952
min         2.000000
25%        10.000000
50%        16.000000
75%        30.000000
max        98.000000
Name: Precipitation_Minimum, dtype: float64
----------
count    1074.000000
mean       48.521415
std        26.781084
min        10.000000
25%        30.000000
50%        50.000000
75%        60.000000
max       260.000000
Name: Precipitation_Maximum, dtype: float64
----------
count    1081.000000
mean       14.031452
std         7.962350
min         0.000000
25%         8.000000
50%        12.000000
75%        16.000000
max        60.000000
Name: Root_Depth_Minimum_inches, dtype: float64
----------
count     1081
unique       4
top       None
freq       581
Name: Salinity_Tolerance, dtype: object
----------
count           1081
unique             3
top       Intolerant
freq             544
Name: Shade_Tolerance, dtype: object
----------
count    1079.000000
mean      -20.806302
std        22.470152
min       -70.000000
25%       -38.000000
50%       -28.000000
75%       -13.000000
max        52.000000
Name: Temperature_Minimum_F, dtype: float64
----------
count            1073
unique             12
top       Late Spring
freq              335
Name: Bloom_Period, dtype: object
----------
count                    1079
unique                      4
top       Routinely Available
freq                      575
Name: Commercial_Availability, dtype: object
----------
count       1060
unique         4
top       Medium
freq         425
Name: Fruit_Seed_Abundance, dtype: object
----------
count       1060
unique         5
top       Summer
freq         723
Name: Fruit_Seed_Period_Begin, dtype: object
----------
count     1058
unique       5
top       Fall
freq       527
Name: Fruit_Seed_Period_End, dtype: object
----------
count     1081
unique       2
top         No
freq       833
Name: Fruit_Seed_Persistence, dtype: object
----------
count     1081
unique       2
top        Yes
freq       593
Name: Propogated_by_Bare_Root, dtype: object
----------
count     1081
unique       2
top         No
freq      1068
Name: Propogated_by_Bulbs, dtype: object
----------
count     1081
unique       2
top         No
freq       563
Name: Propogated_by_Container, dtype: object
----------
count     1081
unique       2
top         No
freq      1071
Name: Propogated_by_Corms, dtype: object
----------
count     1081
unique       2
top         No
freq       844
Name: Propogated_by_Cuttings, dtype: object
----------
count     1081
unique       2
top        Yes
freq      1004
Name: Propogated_by_Seed, dtype: object
----------
count     1081
unique       2
top         No
freq      1073
Name: Propogated_by_Sod, dtype: object
----------
count     1081
unique       2
top         No
freq       824
Name: Propogated_by_Sprigs, dtype: object
----------
count     1081
unique       2
top         No
freq      1070
Name: Propogated_by_Tubers, dtype: object
----------
count    8.830000e+02
mean     1.055934e+06
std      3.971197e+06
min      3.000000e+01
25%      3.250000e+04
50%      1.980750e+05
75%      7.487500e+05
max      5.000000e+07
Name: Seeds_per_Pound, dtype: float64
----------
count     1077
unique       4
top       Slow
freq       642
Name: Seed_Spread_Rate, dtype: object
----------
count       1056
unique         3
top       Medium
freq         416
Name: Seedling_Vigor, dtype: object
----------
count     1081
unique       2
top         No
freq      1073
Name: Small_Grain, dtype: object
----------
count     1072
unique       4
top       None
freq       612
Name: Vegetative_Spread_Rate, dtype: object
----------
count     1081
unique       2
top         No
freq      1012
Name: Berry_Nut_Seed_Product, dtype: object
----------
count     1081
unique       2
top         No
freq      1062
Name: Christmas_Tree_Product, dtype: object
----------
count     1081
unique       2
top         No
freq       840
Name: Fodder_Product, dtype: object
----------
count        144
unique         3
top       Medium
freq          57
Name: Fuelwood_Product, dtype: object
----------
count     1081
unique       2
top         No
freq      1017
Name: Lumber_Product, dtype: object
----------
count     1081
unique       2
top         No
freq      1050
Name: Naval_Store_Product, dtype: object
----------
count     1081
unique       2
top         No
freq       692
Name: Nursery_Stock_Product, dtype: object
----------
count     1059
unique       3
top        Low
freq       611
Name: Palatable_Browse_Animal, dtype: object
----------
count     1010
unique       3
top        Low
freq       667
Name: Palatable_Graze_Animal, dtype: object
----------
count     1081
unique       2
top         No
freq       928
Name: Palatable_Human, dtype: object
----------
count     1081
unique       2
top         No
freq      1036
Name: Post_Product, dtype: object
----------
count     1081
unique       2
top        Low
freq       775
Name: Protein_Potential, dtype: object
----------
count     1081
unique       2
top         No
freq      1026
Name: Pulpwood_Product, dtype: object
----------
count     1081
unique       2
top         No
freq      1021
Name: Veneer_Product, dtype: object
----------
count     92171
unique     6877
top       Carex
freq       1288
Name: Genus, dtype: object
----------

In [8]:
# get details on plant presence
print(df.State_and_Province.describe())

count        35665
unique       10921
top       USA (CA)
freq          3487
Name: State_and_Province, dtype: object

In [9]:
# get details on plant noxious status
print(df.State_Noxious_Status.describe())

count         620
unique        282
top       HI (NW)
freq           56
Name: State_Noxious_Status, dtype: object

In [10]:
df.State_T_E_Status.value_counts()

FL (E)                            355
AZ (SR)                           252
WA (S)                            156
CA (E)                            121
NY (E)                             97
                                 ...
IL (), NY ()                        1
IL (E), NY (E)                      1
CT (E), IN (E), OH (T), PA (X)      1
MD (E, X), MI (T), OH (T)           1
FL (E), NJ (E), TN (T)              1
Name: State_T_E_Status, Length: 1645, dtype: int64

## CREATE ENRICHED DATASET

In [11]:
# Create enriched dataset
df_enriched = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Genus',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Subvariety_Prefix',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'Active_Growth_Period',
 'After_Harvest_Regrowth_Rate',
 'Bloat',
 'C_N_Ratio',
 'Coppice_Potential',
 'Fall_Conspicuous',
 'Fire_Resistance',
 'Flower_Color',
 'Flower_Conspicuous',
 'Foliage_Color',
 'Foliage_Porosity_Summer',
 'Foliage_Porosity_Winter',
 'Foliage_Texture',
 'Fruit_Color',
 'Fruit_Conspicuous',
 'Growth_Form',
 'Growth_Rate',
 'Height_at_Base_Age_Maximum_feet',
 'Height_Mature_feet',
 'Known_Allelopath',
 'Leaf_Retention',
 'Lifespan',
 'Low_Growing_Grass',
 'Nitrogen_Fixation',
 'Resprout_Ability',
 'Shape_and_Orientation',
 'Toxicity',
 'Adapted_to_Coarse_Textured_Soils',
 'Adapted_to_Medium_Textured_Soils',
 'Adapted_to_Fine_Textured_Soils',
 'Anaerobic_Tolerance',
 'CaCO_3_Tolerance',
 'Cold_Stratification_Required',
 'Drought_Tolerance',
 'Fertility_Requirement',
 'Fire_Tolerance',
 'Frost_Free_Days_Minimum',
 'Hedge_Tolerance',
 'Moisture_Use',
 'pH_Minimum',
 'pH_Maximum',
 'Planting_Density_per_Acre_Minimum',
 'Planting_Density_per_Acre_Maximum',
 'Precipitation_Minimum',
 'Precipitation_Maximum',
 'Root_Depth_Minimum_inches',
 'Salinity_Tolerance',
 'Shade_Tolerance',
 'Temperature_Minimum_F',
 'Bloom_Period',
 'Commercial_Availability',
 'Fruit_Seed_Abundance',
 'Fruit_Seed_Period_Begin',
 'Fruit_Seed_Period_End',
 'Fruit_Seed_Persistence',
 'Propogated_by_Bare_Root',
 'Propogated_by_Bulbs',
 'Propogated_by_Container',
 'Propogated_by_Corms',
 'Propogated_by_Cuttings',
 'Propogated_by_Seed',
 'Propogated_by_Sod',
 'Propogated_by_Sprigs',
 'Propogated_by_Tubers',
 'Seeds_per_Pound',
 'Seed_Spread_Rate',
 'Seedling_Vigor',
 'Small_Grain',
 'Vegetative_Spread_Rate',
 'Berry_Nut_Seed_Product',
 'Christmas_Tree_Product',
 'Fodder_Product',
 'Fuelwood_Product',
 'Lumber_Product',
 'Naval_Store_Product',
 'Nursery_Stock_Product',
 'Palatable_Browse_Animal',
 'Palatable_Graze_Animal',
 'Palatable_Human',
 'Post_Product',
 'Protein_Potential',
 'Pulpwood_Product',
 'Veneer_Product'
])

In [12]:
df_enriched.head()

,Accepted_Symbol_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Genus,Species,Subspecies_Prefix,Variety,Subvariety_Prefix,Genera_Binomial_Author,Common_Name,...,Lumber_Product,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product
0,ABAB,NaN,NaN,Abutilon,abutiloides,NaN,NaN,NaN,(Jacq.) Garcke ex Hochr.,shrubby Indian mallow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABPR3,NaN,NaN,Abrus,abrus,NaN,NaN,NaN,"(L.) W. Wight, nom. inval.",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABTH,NaN,NaN,Abutilon,abutilon,NaN,NaN,NaN,"(L.) Rusby, nom. inval.",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABAB70,NaN,NaN,Abietinella,abietina,NaN,NaN,NaN,(Hedw.) Fleisch.,abietinella moss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABUMB,NaN,NaN,Abronia,acutalata,NaN,NaN,NaN,Standl.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(df_enriched['Hybrid_Genus_Indicator'].value_counts())
print('---------------')
print(df_enriched['Hybrid_Species_Indicator'].value_counts())
print('---------------')
print(df_enriched['Subspecies_Prefix'].value_counts())
print('---------------')
print(df_enriched['Common_Name'].value_counts())

×    134
Name: Hybrid_Genus_Indicator, dtype: int64
---------------
×    1482
Name: Hybrid_Species_Indicator, dtype: int64
---------------
ssp.    6441
Name: Subspecies_Prefix, dtype: int64
---------------
rim lichen                  127
dot lichen                  105
wart lichen                 104
lecidea lichen              101
cup lichen                   92
                           ...
eremocitrus                   1
false wheatgrass              1
eremocrinum                   1
eremogone                     1
Reinwardt's zygodon moss      1
Name: Common_Name, Length: 31247, dtype: int64

## CORE DATASET

In [1]:
df_core = pd.DataFrame(df, columns = [
 'Accepted_Symbol_x',
 'Hybrid_Genus_Indicator',
 'Hybrid_Species_Indicator',
 'Species',
 'Subspecies_Prefix',
 'Variety',
 'Genera_Binomial_Author',
 'Common_Name',
 'State_and_Province',
 'Category',
 'Family_Symbol',
 'Family_Common_Name',
 'xOrder',
 'SubClass',
 'Class',
 'Division',
 'SuperDivision',
 'SubKingdom',
 'Kingdom',
 'Duration',
 'Growth_Habit',
 'Native_Status',
 'Federal_Noxious_Status',
 'State_Noxious_Status',
 'Invasive',
 'Federal_T_E_Status',
 'State_T_E_Status',
 'Genus'])

NameError: name 'pd' is not defined

In [31]:
df_core.head()

,Accepted_Symbol_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,Variety,Genera_Binomial_Author,Common_Name,State_and_Province,Category,...,Kingdom,Duration,Growth_Habit,Native_Status,Federal_Noxious_Status,State_Noxious_Status,Invasive,Federal_T_E_Status,State_T_E_Status,Genus
0,ABAB,NaN,NaN,abutiloides,NaN,NaN,(Jacq.) Garcke ex Hochr.,shrubby Indian mallow,"USA (AZ, TX), USA+ (PR, VI)",Dicot,...,Plantae,Perennial,"Subshrub, Forb/herb","L48 (N), PR (N), VI (I)",NaN,NaN,NaN,NaN,NaN,Abutilon
1,ABPR3,NaN,NaN,abrus,NaN,NaN,"(L.) W. Wight, nom. inval.",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abrus
2,ABTH,NaN,NaN,abutilon,NaN,NaN,"(L.) Rusby, nom. inval.",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
3,ABAB70,NaN,NaN,abietina,NaN,NaN,(Hedw.) Fleisch.,abietinella moss,USA (NJ),Moss,...,Plantae,NaN,Nonvascular,NA (N),NaN,NaN,NaN,NaN,NaN,Abietinella
4,ABUMB,NaN,NaN,acutalata,NaN,NaN,Standl.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abronia

In [32]:
type(df_core['State_and_Province'])

pandas.core.series.Series

In [33]:
df_core['State_and_Province'] = df_core['State_and_Province'].astype('string')

In [34]:
df_core['State_and_Province'].isna().value_counts().sort_values()

False    35665
True     56506
Name: State_and_Province, dtype: int64

In [35]:
core_column_list = list(df_core)

In [36]:
for column in core_column_list:
    print(df_core[column].isna().value_counts().sort_values())
    print('-------------')
    print(df_core[column].describe())
    print('-------------')
    print('-------------')
    print('-------------')

False    92171
Name: Accepted_Symbol_x, dtype: int64
-------------
count     92171
unique    48398
top        MIGU
freq         70
Name: Accepted_Symbol_x, dtype: object
-------------
-------------
-------------
False      134
True     92037
Name: Hybrid_Genus_Indicator, dtype: int64
-------------
count     134
unique      1
top         ×
freq      134
Name: Hybrid_Genus_Indicator, dtype: object
-------------
-------------
-------------
False     1482
True     90689
Name: Hybrid_Species_Indicator, dtype: int64
-------------
count     1482
unique       1
top          ×
freq      1482
Name: Hybrid_Species_Indicator, dtype: object
-------------
-------------
-------------
True      5011
False    87160
Name: Species, dtype: int64
-------------
count           87160
unique          20631
top       californica
freq              390
Name: Species, dtype: object
-------------
-------------
-------------
False     6441
True     85730
Name: Subspecies_Prefix, dtype: int64
-------------
count     6441
unique       1
top       ssp.
freq      6441
Name: Subspecies_Prefix, dtype: object
-------------
-------------
-------------
False    19322
True     72849
Name: Variety, dtype: int64
-------------
count         19322
unique         7649
top       pubescens
freq            102
Name: Variety, dtype: object
-------------
-------------
-------------
True      4984
False    87187
Name: Genera_Binomial_Author, dtype: int64
-------------
count     87187
unique    20255
top          L.
freq       6609
Name: Genera_Binomial_Author, dtype: object
-------------
-------------
-------------
False    43200
True     48971
Name: Common_Name, dtype: int64
-------------
count          43200
unique         31247
top       rim lichen
freq             127
Name: Common_Name, dtype: object
-------------
-------------
-------------
False    35665
True     56506
Name: State_and_Province, dtype: int64
-------------
count        35665
unique       10921
top       USA (CA)
freq          3487
Name: State_and_Province, dtype: object
-------------
-------------
-------------
True     43773
False    48398
Name: Category, dtype: int64
-------------
count     48398
unique       14
top       Dicot
freq      31496
Name: Category, dtype: object
-------------
-------------
-------------
True     43773
False    48398
Name: Family_Symbol, dtype: int64
-------------
count      48398
unique       547
top       ASTERA
freq        4885
Name: Family_Symbol, dtype: object
-------------
-------------
-------------
False    41079
True     51092
Name: Family_Common_Name, dtype: int64
-------------
count            41079
unique             311
top       Aster family
freq              4885
Name: Family_Common_Name, dtype: object
-------------
-------------
-------------
True     43858
False    48313
Name: xOrder, dtype: int64
-------------
count         48313
unique          156
top       Asterales
freq           4885
Name: xOrder, dtype: object
-------------
-------------
-------------
False    42002
True     50169
Name: SubClass, dtype: int64
-------------
count         42002
unique           18
top       Asteridae
freq          12149
Name: SubClass, dtype: object
-------------
-------------
-------------
True     43775
False    48396
Name: Class, dtype: int64
-------------
count             48396
unique               24
top       Magnoliopsida
freq              31496
Name: Class, dtype: object
-------------
-------------
-------------
True     43775
False    48396
Name: Division, dtype: int64
-------------
count             48396
unique               16
top       Magnoliophyta
freq              39191
Name: Division, dtype: object
-------------
-------------
-------------
False    39550
True     52621
Name: SuperDivision, dtype: int64
-------------
count             39550
unique                1
top       Spermatophyta
freq              39550
Name: SuperDivision, dtype: object
-------------
-------------
-------------
False    40978
True     51193
Name: SubKingdom, dtype: int64
-------------
count             40978
unique                1
top       Tracheobionta
freq              40978
Name: SubKingdom, dtype: object
-------------
-------------
-------------
True     43775
False    48396
Name: Kingdom, dtype: int64
-------------
count       48396
unique          2
top       Plantae
freq        43786
Name: Kingdom, dtype: object
-------------
-------------
-------------
False    32228
True     59943
Name: Duration, dtype: int64
-------------
count         32228
unique            9
top       Perennial
freq          25296
Name: Duration, dtype: object
-------------
-------------
-------------
False    39478
True     52693
Name: Growth_Habit, dtype: int64
-------------
count         39478
unique           63
top       Forb/herb
freq          17251
Name: Growth_Habit, dtype: object
-------------
-------------
-------------
False    38326
True     53845
Name: Native_Status, dtype: int64
-------------
count       38326
unique        347
top       L48 (N)
freq        16756
Name: Native_Status, dtype: object
-------------
-------------
-------------
False       95
True     92076
Name: Federal_Noxious_Status, dtype: int64
-------------
count     95
unique     2
top       NW
freq      94
Name: Federal_Noxious_Status, dtype: object
-------------
-------------
-------------
False      620
True     91551
Name: State_Noxious_Status, dtype: int64
-------------
count         620
unique        282
top       HI (NW)
freq           56
Name: State_Noxious_Status, dtype: object
-------------
-------------
-------------
False     1436
True     90735
Name: Invasive, dtype: int64
-------------
count      1436
unique      166
top       STATE
freq        248
Name: Invasive, dtype: object
-------------
-------------
-------------
False      760
True     91411
Name: Federal_T_E_Status, dtype: int64
-------------
count            760
unique             2
top       Endangered
freq             609
Name: Federal_T_E_Status, dtype: object
-------------
-------------
-------------
False     5247
True     86924
Name: State_T_E_Status, dtype: int64
-------------
count       5247
unique      1645
top       FL (E)
freq         355
Name: State_T_E_Status, dtype: object
-------------
-------------
-------------
False    92171
Name: Genus, dtype: int64
-------------
count     92171
unique     6877
top       Carex
freq       1288
Name: Genus, dtype: object
-------------
-------------
-------------

In [48]:
df_core['State_Noxious_Status'].head(100)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN
Name: State_Noxious_Status, Length: 100, dtype: object

In [42]:
# function to id 'Lower 48' states code in super string
def in_l48(string):
        if string.find('L48') == -1:
            return False
        else:
            return True

In [43]:
# function to id 'NC' state code in super string

def in_state(string):
        if string.find('NC') == -1:
            return False
        else:
            return True

In [55]:
# values = {'State_and_Province':'unknown','Native_Status':'unknown',}
df_core.fillna('unknown', inplace=True)

In [56]:
df_core['In_NC'] = df_core['State_and_Province'].apply(in_nc)
df_core['Native_L48'] = df_core['Native_Status'].apply(in_l48)
df_core['Native_NC'] = df_core['Native_Status'].apply(in_nc)

In [57]:
df_core.isna().sum()

Accepted_Symbol_x           0
Hybrid_Genus_Indicator      0
Hybrid_Species_Indicator    0
Species                     0
Subspecies_Prefix           0
Variety                     0
Genera_Binomial_Author      0
Common_Name                 0
State_and_Province          0
Category                    0
Family_Symbol               0
Family_Common_Name          0
xOrder                      0
SubClass                    0
Class                       0
Division                    0
SuperDivision               0
SubKingdom                  0
Kingdom                     0
Duration                    0
Growth_Habit                0
Native_Status               0
Federal_Noxious_Status      0
State_Noxious_Status        0
Invasive                    0
Federal_T_E_Status          0
State_T_E_Status            0
Genus                       0
In_NC                       0
Native_L48                  0
Native_NC                   0
dtype: int64

## DF_CORE TARGET COLUMN ISOLATION, PREPROCESS